[2020-04-16 21:31] worksofliam opened #1 "Feature: Live Errors"
Use tags for the following:

* IBM i version: all
* System (Windows or Mac OS): all

**Describe your feature:** No longer have to compile in order to see code errors. Instead errors will appear on the gutter of the current editor.

![image](https://user-images.githubusercontent.com/3708366/79508724-17772780-8008-11ea-989c-df4ddeee9f60.png)

To do:

* [x] Implement
* [x] Test for member and editor

[2020-04-17 15:03] worksofliam opened #2 "Feature: Member descriptions"
Use tags for the following:

* IBM i version: all
* System (Windows or Mac OS): all

**Describe your issue:** Currently no way to see or change member text. Add functionality to hover over a member in the panel and display the member text. Also, a right-click menu to change the member text.

To do:

* [x] Hover on member text (property: `sidebarTooltip`)
* [x] Right-click menu to change member tex

[2020-04-17 18:45] ciaramejia3 opened #3 "Code Not Populating"
Use tags for the following:

* IBM i version: 7.4
* System (Windows or Mac OS): Mac OS
* Report type:  `bug`

**Describe your issue:**

When opening any source file, the code will not populate. It's just a blank file.

**Rough time of error occurred**:
April 17th
Sometime today. It was working fine as of yesterday.

**Please paste any screenshots below.**

<img width="1058" alt="Screen Shot 2020-0

[2020-04-17 19:06] worksofliam commented on #3
Hi @ciaramejia3

We are currently preparing a build now, 0.2.11, and should be available soon. I will post again when it is available.

Liam

edit:

This was happening due to a system naming issue within db2util. You would only find this happening when trying to open source members when db2util is installed.

[2020-04-17 19:16] worksofliam commented on #3
Hey @ciaramejia3

A release has been published. If you restart ILEditor 2 you should get a note to update it.

Please report back with your findings.

Liam

[2020-04-17 19:22] worksofliam commented on #3
We've heard back that the fix did not work.

I will work to get this solved.

Liam

[2020-04-17 19:22] ciaramejia3 commented on #3
Yeah. Still not working for me either. Thank you!

[2020-04-17 20:20] worksofliam commented on #3
@ciaramejia3

We've tracked down the issue and it's related to CCSID. King will be in touch with you.

I will also leave this ticket open until I have written some documentation to make sure this is not forgotten.

Liam

[2020-04-17 20:48] worksofliam opened #4 "Feature: Import/Export current configuration"
Use tags for the following:

* System (Windows or Mac OS): all
* Report type: enhancement

**Describe your feature:** A way to import and export, to and from JSON, the current connection configuration.

[2020-04-17 20:50] worksofliam opened #5 "Feature: Maintain spools file"
Use tags for the following:

* IBM i version: 7..2+
* System: both
* Report type: enhancement

**Describe your feature:** A way to either delete all spool files for the user, or delete a single spool file. Both right-click options on the Spool FIle Viewer.

[2020-04-17 20:56] worksofliam opened #6 "Feature: CL prompt"
Use tags for the following:

* IBM i version: all
* System: both
* Report type: enhancement

**Describe your issue:** The ability to prompt a CL command while editing CL source.

* [x] Backend implemented
* [ ] Frontend implemented

[2020-04-17 20:59] worksofliam opened #7 "Feature: Templating plugin"
* A directory in the IFS on the IBM i with templates
* A way to create a file (member/streamfile) from a template.

[2020-04-17 21:03] worksofliam opened #8 "Feature: Attach notes to keys"
Use tags for the following:

* System: platform
* Report type: enhancement

**Describe your issue:** a way to add a note to a key so they're easy to manage.

* [ ] Provide system hostname in key API and use that as the default if it doesn't exist already.

[2020-04-17 21:04] worksofliam opened #9 "Feature: Bulk order of keys"
Use tags for the following:

* System: platform
* Report type: enhancement

May need to talk to SendOwl

[2020-04-17 21:24] #1 closed, assigned to nobody

[2020-04-17 21:24] worksofliam commented on #3
We’ve added a notice to the IDE to say whether the job CCSID is valid or not. We’ve also updated the website docs to include more information.

https://ileditor.dev/docs/ccsid-considerations

Thanks!

[2020-04-17 21:25] #3 closed, assigned to ciaramejia3

[2020-04-19 01:42] worksofliam commented on #2
Implemented and available in next release.

[2020-04-19 02:21] worksofliam commented on #5
You are now able to delete specific spool files and also delete all for the current user.

[2020-04-20 00:52] #2 closed, assigned to nobody

[2020-04-20 00:52] #5 closed, assigned to nobody

[2020-04-20 01:01] worksofliam opened #10 "Feature: Refactoring, etc"
**Describe the solution you'd like**

We plan to add the following features to sources that are utilising Live Errors.

* [x] Refactoring of variables, procedures, etc
* [x] Go to definition
* [x] Show references

[2020-04-21 08:54] richardm90 opened #11 "IFS source type appears to be case specific"
When I was editing a source file held in the IFS with a file extension of .SQLRPGLE the colour coding wasn't active in the editor. It is on an IFS source file with a file extension of .sqlrpgle.

[2020-04-21 10:03] connorholyday commented on #11
Thanks for reporting this, we'll look into getting this fixed up

[2020-04-21 20:30] #11 closed, assigned to nobody

[2020-04-21 20:31] ciaramejia3 opened #12 "Feature: Right Click Features"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but this would be a feature that would be nice to have at some point.

**Describe the solution you'd like**
Highlight the code, right click and have some features available.

Example:
* Format the code
* Comment/uncomment

**Additional context**

<img width="262" alt="Screen Shot 2020-04-21 at 3 27 04 PM" src=

[2020-04-21 21:47] ciaramejia3 opened #13 "Bug: Error Saving Member"
Use tags for the following:
'Bug

* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
When trying to save my file 'CR_FRESH.splrpgle', it is giving me the error 'Error saving member'. I did create the file in ILEditor. When closing the file and reopening, sure enough, it did not save.

**Rough time of error occurred**:
April 21st
Today around 4:30 pm central

**Please

[2020-04-21 22:54] BARRENJR opened #14 "Can't see members in Member Browser"
Hi Liam.

Yesterday I installed ILEDITOPR 2 and quickly connected to the company's development server. Once this was done I proceeded to view the source members of one of my work files but it doesn't show me anything.
Can you help me please.

Best regards.

[2020-04-22 00:11] worksofliam commented on #13
Hi @ciaramejia3

I was also able to recreate this issue and we've pushed out 0.3.4 to hopefully fix it.

Please update to 0.3.4+ and let us know.

Thanks!

[2020-04-22 00:13] worksofliam commented on #14
Hi @BARRENJR

Are you able to show a screenshot of what you see?

Did you add a source file to the shortcuts in the settings?

Liam

[2020-04-22 00:20] worksofliam commented on #9
Implemented

[2020-04-22 00:20] #9 closed, assigned to nobody

[2020-04-22 00:20] worksofliam commented on #14
Here is the related documentation: https://ileditor.dev/docs/editing-members

[2020-04-22 12:13] connorholyday commented on #12
Thanks for the request, we're currently working on something like this :)

[2020-04-22 13:32] ciaramejia3 commented on #13
Yes. It did save successfully. Thank you!

[2020-04-22 13:34] worksofliam commented on #13
Awesome.

For future notice, the issue was because of a bug in the source sequence generation.

I will now close this.

[2020-04-22 13:34] #13 closed, assigned to nobody

[2020-04-22 17:02] ciaramejia3 opened #15 "Feature: Filter Objects"
**Is your feature request related to a problem? Please describe.**
'Enhancement
Not a problem, but it would be nice to have the option on filtering the objects so that I can just see the source files.

**Describe the solution you'd like**
When in  'Objects', right clicking the object to filter would be nice to have.

**Additional context**

<img width="406" alt="Screen Shot 2020-03-13 at 8 24 34 A

[2020-04-22 17:03] ciaramejia3 commented on #15
Oops, wrong screen shot.

<img width="393" alt="Screen Shot 2020-04-22 at 12 00 19 PM" src="https://user-images.githubusercontent.com/60701344/80011279-44f12480-8491-11ea-8945-773636a97425.png">

[2020-04-22 18:28] ciaramejia3 opened #16 "Trouble Saving"
Use tags for the following:
'Bug

* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
Hey guys! I would like to first thank you for your help. Just having trouble saving that same member again. I am deleting and adding new code and when doing so it is adding this 'undefined' on the column on the left at the very end of my file. When trying to save the member it is givi

[2020-04-22 19:32] connorholyday commented on #16
Thanks for raising this! We'll look into it and get it fixed up

[2020-04-22 20:14] BARRENJR commented on #14
I attach the screenshots that I request.

![2020-04-22_14-12-15](https://user-images.githubusercontent.com/39207437/80029098-7d016300-84a3-11ea-8b4f-57dba337be2c.png)
![2020-04-22_14-07-48](https://user-images.githubusercontent.com/39207437/80029099-7d99f980-84a3-11ea-8aea-218decd63b6a.png)

[2020-04-22 21:06] worksofliam commented on #14
@BARRENJR Thanks for sharing!

Can you tell us if you have `db2util` installed on your system?

[2020-04-22 23:22] BARRENJR commented on #14
No, I do not see it. How can install that component?

[2020-04-22 23:29] worksofliam commented on #14
Hi @BARRENJR

It is not a dependency, but it is available through yum! Last questions for you:

* What version of IBM i are you using?
* What CCSID is your system/job?

[2020-04-22 23:33] BARRENJR commented on #14
1. 7.3
2. 65535

[2020-04-22 23:42] worksofliam commented on #14
@BARRENJR

Thanks!

We are going to make a release soon (tomorrow) to spew out some more useful errors as to what is going wrong.

In the meantime:

* See this guide: https://ileditor.dev/docs/ccsid-considerations
* Make sure you're on version 0.3.5

Will reply tomorrow about a release!

[2020-04-22 23:46] worksofliam commented on #16
We are working on a fix and hope to have it out in a few days.

[2020-04-22 23:56] BARRENJR commented on #14
OK. Thanks Liam. Stay tuned.

[2020-04-24 20:39] connorholyday commented on #16
The new release is out! Let us know if you're still experiencing this issue :)

[2020-04-24 20:39] connorholyday commented on #14
The new release is out! Let us know if you're still experiencing this issue :)

[2020-04-25 11:17] prsbrc opened #17 "No members in Member Browser"
Hi there.

The IBMi i use runs on 7.3, CCSID 1141
I have started the sshd. db2util is not installed on the system.
Login was successfull.
Next i add my library/sourcefile to the shortcuts
Now i try to open the sourcefile but nothing was listed.
Not even the error-message  (red box is empty)  :-)
![Unbenannt](https://user-images.githubusercontent.com/31685593/80278388-158f2180-86f6-11ea-8c80-81186a

[2020-04-25 11:22] prsbrc commented on #17
another request for the same problem

[2020-04-25 11:22] #17 closed, assigned to nobody

[2020-04-25 11:23] prsbrc commented on #14
Hey everybody.
I have the same issue.
My system runs on 7.3 CCSID 1141 (German/Austria) und the db2util is not installed
![Unbenannt](https://user-images.githubusercontent.com/31685593/80278582-f2fe0800-86f7-11ea-8d2c-b51c8fbbb130.png)

[2020-04-25 13:58] #16 closed, assigned to nobody

[2020-04-26 18:43] worksofliam commented on #14
@prsbrc @BARRENJR

Can you please check the temporary library for ILEditor 2 exists? It should just be called `ILEDITOR` unless you changed the Temp library settings.

`WRKLIB ILEDITOR`

Thanks

[2020-04-26 19:03] worksofliam commented on #14
Also, can you both please check that your home directory (which is defined in the ILEditor 2 settings) exists on your IBM i.

edit: I was able to recreate this bug!

It was because the home directory did not exist. ILEditor usually tries to create the directory when you log in, but I guess because of authority it didn't create. Please check and let me know.

I am going to add some notices if it ca

[2020-04-27 01:11] worksofliam opened #18 "Feature: Themes"
Lots of people requesting dark mode.

We are already planning to implement themes, but this is an issue just to track it.

[2020-04-27 02:35] tnrn9b commented on #7
Templating generally comes in two forms:
    There are `project` or `structural skeletons` -- I typically refer to this as boilerplate code. This kind of templating abstracts the structure of various parts of a codebase. A common example from PHP would be the factory pattern for dependency injection--multiple files, potentially in different directories, but one common design pattern.

   There's t

[2020-04-27 08:30] DavidShears opened #19 "Bug: Code Coverage list not loading with >100 programs"
* IBM i version - V7R3
* System (Windows or Mac OS) - Windows
* ILEditor version - V0.4.0

**Describe your issue:** When loading a library with over 100 programs in it the DSPOBJD runs successfully (verified by checking temporary library) but the list isn't displayed in the program.

![code coverage](https://user-images.githubusercontent.com/49477658/80350799-28763300-8869-11ea-9d97-929855946dd3.p

[2020-04-27 08:46] connorholyday commented on #19
Thank you for the testing involved, this is really great. We'll see if we can replicate this and get a fix out soon

[2020-04-27 14:35] worksofliam commented on #19
We are releasing a fix today which will hopefully resolve this issue - but we also added some more error notices which you can provide to us.

Thanks!

[2020-04-27 14:35] worksofliam commented on #14
We are making a release today which will add some more notices which should help track down this issue.

[2020-04-27 17:03] WDCo-Auto commented on #14
I had the same issue and had to start the SSH server on the iSeries. (STRTCPSVR *SSHD)
After issuing the start command the member listing showed up.

[2020-04-27 17:34] worksofliam opened #20 "Feature: Import PDM options"
Would be cool if there was a button in the settings to import custom PDM options.

* The user could also select which table has their options in.

[2020-04-27 18:04] prsbrc commented on #14
@worksofliam i have changed the home directory and the library ileditor exist on the ibmi
thx, now it works but my anti-vir (AVG) makes troubles by trying to make an update...
the "old-installer" is marked as "IDP.Generic.20275ab01b0b.3.2" and as "DS#EvoGen||algo;"
greets

[2020-04-27 21:55] connorholyday opened #21 "Misplaced cursor"
We've had 1 report of the cursor becoming out of sync with the code on a Windows build.

Here are some related issues from Monaco:
- https://github.com/microsoft/monaco-editor/issues/1626
- https://github.com/microsoft/monaco-editor/issues/1771

The proposed solution is to have an event listener for the IBM Plex font to finish loading and then to call `monaco.editor.remeasureFonts()`

[2020-04-28 07:49] DavidShears commented on #19
Thanks for the quick responses.

I've downloaded the update today and can confirm library with more than 100 programs is showing correctly now.

I may've just found another scenario where it isn't working though so I'll do some additional testing before opening a new issue.

[2020-04-28 07:49] #19 closed, assigned to nobody

[2020-04-28 07:58] DavidShears opened #22 "Bug: Special characters in program descriptor causing invalid return"
* IBM i version: V7R3
* System (Windows or Mac OS): Windows 10
* ILEditor version: 0.4.1

**Describe your issue:** While testing the previous issue I found a library with less than 100 programs that was returning 'Library contains no programs' with the latest version. Narrowing it down the problem is being caused by a program used to add additional quote marks around a string using imperial measur

[2020-04-28 12:25] worksofliam commented on #22
Oh, boy! Do I know this bug.

I actually had to fix this in the Member Browser way back when!

![image](https://user-images.githubusercontent.com/3708366/80486762-b154a380-8929-11ea-887e-284ce63f0d41.png)

And then the library doesn't load in objects or code-coverage.

Will get this fixed up for 0.4.2 :)

[2020-04-28 12:40] worksofliam commented on #22
Fixed and also made this bug into a feature enhancement. You can now hover over the object to see the description!

![image](https://user-images.githubusercontent.com/3708366/80488156-e9f57c80-892b-11ea-9787-13f9fcdcc358.png)

![image](https://user-images.githubusercontent.com/3708366/80488205-f8dc2f00-892b-11ea-9f78-83f15ef11ce7.png)

[2020-04-28 12:43] worksofliam commented on #14
@prsbrc

Thanks for letting us know. We are working to get Windows certificates for ILEditor 2!

@BARRENJR

Please let us know what the status of this bug is for you.

[2020-04-28 14:09] ciaramejia3 opened #23 "Feature: RPG Prompt"
**Is your feature request related to a problem? Please describe.**
When having to write or look at fixed formatted RPG code, it would be nice to prompt it to know exactly where to put each declaration.

**Describe the solution you'd like**
F4 to prompt would be just fine or any way to do so would be fine as well. It would be nice to just have that option.

**Additional context**
<img width="1021"

[2020-04-28 14:13] ciaramejia3 opened #24 "Bug: Right Clicking"
Use tags for the following:
'Bug

* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
Hi guys! When I right click an object or member, it is duplicating the options every time when doing so.

**Rough time of error occurred**:
Today after updating to version .4.2

**Please paste any screenshots below.**
<img width="283" alt="Screen Shot 2020-04-28 at 9 05 33 AM" src="ht

[2020-04-28 14:24] connorholyday commented on #24
Oops! Good spot. We have an update that'll fix this and I expect it'll be with you either later today or tomorrow

[2020-04-28 14:26] ciaramejia3 commented on #24
Thanks!

[2020-04-28 14:33] ciaramejia3 opened #25 "Feature: Copy Source File"
**Is your feature request related to a problem? Please describe.**
We use this quite a bit. Instead of starting over, we use another program as reference.

**Describe the solution you'd like**
Copy, paste and then rename the source file not only within the same library, but all through out.

**Additional context**

[2020-04-28 14:49] worksofliam commented on #25
@ciaramejia3

If we implemented the ability to copy source files, would it also be useful for us to add the ability to compare two source files?

[2020-04-28 14:51] ciaramejia3 commented on #25
Yes! That would also be nice to have.

[2020-04-28 15:30] #10 closed, assigned to nobody

[2020-04-28 16:31] richardm90 opened #26 "Bug: Compile library list problem"
IBM i version = v7r4
System = Windows 10

I'm struggling to work out the library list used when compiling.

Firstly, I setup a compile command for the BND source member type that calls a custom program to create a service program. When I try compiling my BND source member it correct picks up my compile command but it fails.

Initially, it was listing errors trying to add libraries to the library l

[2020-04-28 16:38] richardm90 opened #27 "Feature: Multiple configuration settings"
I work on multiple systems for multiple clients and I can't see an easy way to create a different set of configuration settings. In fact even within clients I may need to use different library lists to compile when working on different applications.

The things that would be important for me to change per client/application are; system/logon, library list, source file shortcuts, compile settings a

[2020-04-28 16:47] richardm90 opened #28 "Feature: Member browser filter"
I couldn't see a way to filter the list of members returned within a source file.

There are often hundreds of members within the source files I'm working with and it's not easy to see the members you want to work on when you have a list of hundreds and the list can take a while to load.

Ideally I'd like to be able to specify a wildcard filter such as \*API\* to only show members that include API

[2020-04-28 17:04] worksofliam commented on #28
We have planned to implement filtering, soon.

Someone raised a similar issue, #15, and the filtering functionality would work in both these instances.

Thanks @richardm90!

[2020-04-28 17:06] worksofliam commented on #27
We have planned to allow the user to quickly switch between connections, and each connection would get its own configuration.

Maybe a connection should have multiple configurations also.

Thanks!

[2020-04-28 17:08] worksofliam commented on #27
Related to #4

[2020-04-28 17:10] richardm90 commented on #27
If multiple connections were allowed, each with it's own libl, compile settings, etc, then I think that would work really well as long as you could have multiple connections to the same server.

[2020-04-28 17:32] worksofliam commented on #26
Hi @richardm90

1. I went ahead and fixed the incorrect length of the CPF messages you see, which won't be out until we release 0.4.2:

![image](https://user-images.githubusercontent.com/3708366/80517048-71ee7d00-8952-11ea-96c7-0ecbf4ead6e3.png)

2. The library list default is whatever your user profile default is (probably based off the JOBD?). When you add items to the library list in the settin

[2020-04-28 17:40] richardm90 commented on #26
Hi @worksofliam - thanks for the update and the fix.

I remember you mentioning before that you use ssh to connect to the i. Is this also true for compiles? I'm just wondering if there is a way I can see what the library list is when the CRTSRVPGM is executed.

This may be unrelated and if so and I need to raise another issue then let me know but when I try to compile a module that fails I'm not s

[2020-04-28 18:09] worksofliam commented on #26
@richardm90

I have also fixed the library list issue and will now correctly use the library list defined in the settings.

I actually changed some of the code for the error listing which is due to be released. That should be out in 0.4.2 too.

I will post here again when we push out the release and then I will ask you to report back.

Thank you @richardm90!

[2020-04-28 19:56] richardm90 commented on #28
This might be a stretch too far but a really nice feature in editors such as VS Code and Sublime is the Ctrl + P file search - as a possible member search/filter.

[2020-04-28 21:35] connorholyday commented on #28
That's something we're planning too, we've already done some work on setting the foundations for this feature :)

[2020-04-28 21:54] richardm90 opened #29 "Feature: No warning when closing changed member"
IBM i version = 7.4
System = Windows 10

When I was editing several source members so multiple tabs open I went to switch to another source member and accidentally clicked the close x button, which did close the source member even though I had unsaved changes. Ideally, I'd like a confirmation prompt if attempting to close a source file with unsaved changes.

[2020-04-28 21:58] richardm90 opened #30 "Feature: Extend Compiling UX"
When pressing Ctrl+E to compile a source file it doesn't warn you that the source file has unsaved changes. Should it prompt you to save the changes or automatically save the changes?

Also would it be possible to have keyboard access to the compile commands when there is more than one compile command for a source type so if I press Ctrl+E to compile could the up and down arrows then be used to ni

[2020-04-29 00:25] jvriezen opened #31 "'Refresh' added to context menu multiple times."
I created a library and added it to the library list in settings.

Then I navigate to that library, and right button on it and I get a menu with 'Refresh' on it.  Each time I repeat this action, I get more and more Refresh options (I think two are added each time.)

[2020-04-29 00:46] jvriezen commented on #31
I guess this is a duplicate of #24

[2020-04-29 01:00] jvriezen commented on #14
I'm seeing the same/similar problem.   I don't even see where the release number of ILEditor 2 is shown.   File | About doesn't do anything.

[2020-04-29 01:06] jvriezen opened #32 "Compile should force a save before doing compile"
When I press Cntrl-E to compile, if the buffer is not saved, it should automatically save it first.   Why would I ever want to compile the older version on the IBM i, when I've made changes locally?

[2020-04-29 01:09] worksofliam commented on #30
@richardm90

These are great ideas. I've changed the title to match your ideas some more.

[2020-04-29 01:10] worksofliam commented on #29
Another great idea. I wouldn't personally class this as a bug since it's the way it's developed, so I will change it to be an enhancement/feature.

[2020-04-29 01:11] worksofliam commented on #31
@jvriezen There is a fix out for this tomorrow!

I will stick as a bug and pending release and ask you to retest when it's out.

Thanks!

[2020-04-29 01:12] worksofliam commented on #32
Closing as feature also requested in #30

[2020-04-29 01:12] #32 closed, assigned to nobody

[2020-04-29 01:13] worksofliam commented on #14
@jvriezen We're hoping 0.4.2 can help.

For now, you can go to the ILEditor 2 settings and click on About to see the version you're on.

[2020-04-29 07:43] richardm90 commented on #29
@worksofliam no problem, the only thing I would add is that I feel this is a priority enhancement, it was so easy to accidentally close a source file and lose unsaved changes which could amount to a potentially significant amount of work.

[2020-04-29 07:52] richardm90 opened #33 "Bug (tentative): Source reverts to an earlier version"
I've added tentative to the title because it's not an issue I've been able to replicate the steps and it may already be a known issue and possibly even fixed.

This has happened twice now, the first time I thought I must have done something daft when I wasn't paying attention. I've been editing and saving a source file, I've then jumped over to my 5250 session to compile it and check the source li

[2020-04-29 09:25] connorholyday commented on #21
This has been released, now we're awaiting confirmation that this is fixed

[2020-04-29 09:26] connorholyday commented on #22
This has been released! Are you able to confirm the problem is fixed for you?

[2020-04-29 09:27] connorholyday commented on #24
This has been released! Are you able to confirm the problem has been fixed for you?

[2020-04-29 09:27] connorholyday commented on #26
This has been released! Are you able to confirm the problem has been fixed for you?

[2020-04-29 09:27] connorholyday commented on #31
This has been released! Are you able to confirm the problem has been fixed for you?

[2020-04-29 09:29] connorholyday commented on #33
Interesting, thanks for raising this. We'll do some testing, try to recreate it, and see if we can tighten anything up to make it more robust.

Let us know if you find a way to consistently reproduce this issue

[2020-04-29 09:45] richardm90 commented on #26
@connorholyday , I'm no longer seeing the messages CPF2103 errors after I've changed the library list setting to be the full library list I need to compile but I am still getting the CPD5D02 Definition not found for symbol 'DLAPIVRS_ADD'. messages, which I think is most probably the library list.

Is there a way for me to see the library list used when the compile takes place? I'm guessing I could

[2020-04-29 12:48] DavidShears commented on #22
Just downloaded the update and can confirm issue is resolved. Thanks for the prompt deployment.

[2020-04-29 12:48] #22 closed, assigned to nobody

[2020-04-29 14:31] ciaramejia3 commented on #24
Yes. No longer having this issue. Thank you!

[2020-04-29 14:39] #24 closed, assigned to connorholyday

[2020-04-29 14:45] worksofliam commented on #26
@richardm90

Sorry to hear you're still getting those issues.

That is because they are not coming from the spool file, but instead, the error listing the compile generates when `*EVENTF` is used.

There currently isn't a way to see the compile-time library list. I will need to discuss with @connorholyday how we can best show this in the UI.

I take it you're able to compile from 5250 when your li

[2020-04-29 15:28] #21 closed, assigned to connorholyday

[2020-04-29 15:29] connorholyday commented on #31
Confirmed to be fixed in #24 :)

[2020-04-29 15:29] #31 closed, assigned to nobody

[2020-04-29 15:49] richardm90 commented on #26
@worksofliam

I tried a couple of compiles, the first on a valid RPGLE source file that I was expecting to compile successfully but it failed due to missing procedure reference. I am assuming this is a library list issue as when I take the CRTSQLRPGLI command shown in ILEditor2 and execute this on a 5250 session it compiles.

I got a bit further with this point and found that the compile runs via

[2020-04-29 16:22] worksofliam commented on #26
I think you solved it @richardm90! For some reason, the list is being reversed when we setup the job - a simple fix on our end.

Expect this to be fixed in 0.4.3.

Yes, because they are compile errors.

ILEditor 2 completely based on SSH to connect to the IBM i. For the compile, it's submitted in a separate job and then the job ends when the compile is finished.

Thanks again, Richard. We really a

[2020-04-29 19:18] richardm90 commented on #33
@connorholyday

I think I might have found it. I opened a source member, made some changes, saved the source member, and then pressed Ctrl+E to compile. The compile failed so I clicked on the Failed to compile area to see the messages and at this point the source seemed to revert to the state when it was originally opened.

If I then close the source and open it again the changes are intact so the

[2020-04-29 19:47] connorholyday commented on #33
Hey @richardm90 we've just fixed this bug :) expect it to be patched in the next update!

[2020-04-29 19:51] richardm90 commented on #33
Great news, that was a nasty one.

[2020-04-29 20:38] connorholyday commented on #29
This is coming in the next release too :)

[2020-04-29 20:50] connorholyday commented on #30
This should be coming in the next update :)

[2020-04-29 22:14] worksofliam commented on #33
@richardm90

We have just pushed out 0.4.4. Please restart ILEditor and test again.

Thanks!

[2020-04-29 22:14] worksofliam commented on #30
This is now available as of 0.4.4

[2020-04-29 22:14] #30 closed, assigned to nobody

[2020-04-29 22:15] worksofliam commented on #29
A warning has been implemented as 0.4.4.

[2020-04-29 22:15] #29 closed, assigned to nobody

[2020-04-29 22:43] Avicorvi opened #34 "Feature: Cursor Line : Column position/location"
**Is your feature request related to a problem? Please describe.**
New feature only.

**Describe the solution you'd like**
Add Line and Column cursor position at the bottom of the screen.  Suggested format sample:
10 : 80
for line 10, column 80.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-04-29 22:49] Avicorvi opened #35 "Feature: Chage the Red bar color back to Blue if the Ctrl-Z sequence sets the source at the original state."
**Is your feature request related to a problem? Please describe.**
New feature

**Describe the solution you'd like**
A visual way to identify when changes to the source code is back to its original or last saved stage, when pressing Ctrl-Z to undo changes..

Actually the editor changes from Blue to Red when the source is changed. Good to have it reversed.

**Additional context**
Add any other cont

[2020-04-29 22:58] Avicorvi opened #36 "Add or update text description to a new member"
**Is your feature request related to a problem? Please describe.**
Important feature, otherwise PDM/SEU or equivalent tool will be required.

**Describe the solution you'd like**
When a member is created, or when it is saved, allow to enter or update the text. Probably applicable only to PF_SRC members for now.

**Additional context**
Add any other context or screenshots about the feature request

[2020-04-30 00:38] jvriezen commented on #21
Confirmed fixed in 0.4.4

[2020-04-30 00:41] jvriezen commented on #31
Seems fixed in 0.4.4

[2020-04-30 01:12] worksofliam commented on #36
@Avicorvi

You are able to see the member text when hovering over the item in the list.

![image](https://user-images.githubusercontent.com/3708366/80661929-0bef1c00-8a5e-11ea-82b9-982b614520f1.png)

You can update the text by right-clicking and selecting 'Change text'.

Hope this helps!

[2020-04-30 01:12] #36 closed, assigned to nobody

[2020-04-30 08:40] connorholyday commented on #35
This is something we can do, we'll update here once it's ready for release

[2020-04-30 14:29] richardm90 opened #37 "Bug: About ileditor2 not working"
System = Windows 10

I wanted to check what version I had installed so went to File > About ileditor2 but this didn't do anything. I have since worked it out via Add/Remove programs.

[2020-04-30 14:37] richardm90 opened #38 "Bug: Cool features not working in SQLRPGLE source file"
Use tags for the following:

IBM i version = 7.4
System = Windows 10

I can't get some of the really cool features to work with SQLRPGLE source.

The two I'm struggling with are :

1) Compiler errors

I've checked the compile option and it does include OPTION(*EVENTF). When a compile fails it correctly reports the fact that it fails and includes the command user and the compiler messages but doesn

[2020-04-30 14:51] richardm90 commented on #30
@worksofliam

I love the prompt to save the source file when I compile but ...

I am getting it a lot and not only when the source file has changed, not every time but a lot of the time. I haven't fully proved all situations but one that it does appear to happen is when I have just chosen to save the file (Ctrl+S) and then compile the file (Ctrl+E) without any changes in between. It asks me if I w

[2020-04-30 14:55] richardm90 opened #39 "Feature: Settings UX"
This is mostly me thinking aloud and there are likely lots of good reasons why this wouldn't be possible, or at least easy/desirable.

Whilst working with the compile settings I actually found it easier to copy the compile settings out in to another editor and once I'd updated then accordingly I then copy/pasted them back in to ileditor2 - the reason this was easier is because there is limited spa

[2020-04-30 15:02] richardm90 opened #40 "Bug: New source member/file not saved first time"
Use tags for the following:

IBM i version = 7.4
System  = Windows 10
ILEditor2 version = 0.4.4

When I create a new source member by right click and selecting the create new member option, i get a window asking for the member name, after clicking ok the new member opens in the main editor window area.

I add some code and save the file. Although I'm seeing the code in the editor if I then look at

[2020-04-30 15:08] richardm90 commented on #33
Just tested this and it looks good, I'm not seeing that problem anymore.

[2020-04-30 15:08] #33 closed, assigned to connorholyday

[2020-04-30 15:11] richardm90 commented on #26
The library list issue is now been resolved and works well.

I didn't phrase my question very well regarding whether the severity 30 errors should be shown so I've raised a separate issue #38 that explains the issue I'm having in more detail.

[2020-04-30 15:11] #26 closed, assigned to nobody

[2020-04-30 15:18] richardm90 opened #41 "Feature: Git client stage certain files"
IBM i 7.4
Windows 10
ILEditor2 v0.4.4

Is there a way to stage certain files using the git client (within the editor)?

I can see you can commit all but there are occasions when I want to stage and commit a selection of files that I've changed.

[2020-04-30 15:39] worksofliam commented on #38
@richardm90

Can you please share the compile command you are using, and also paste the compiler output?

Thanks!

[2020-04-30 15:40] worksofliam commented on #37
You can also go to Settings->About and see it there.

[2020-04-30 16:57] worksofliam commented on #14
@BARRENJR

Any updates here?

[2020-04-30 16:59] richardm90 commented on #38
@worksofliam

OK, I've a little bit more news. This isn't only the fact that it's an SQLRPGLE member type but could also be related to the size of the source member. A simple SQLRPGLE example with only a few lines does indeed work and I am seeing the specific member error messages.

This is the example output for a smallish SQLRPGLE member (TESTCOMP2) that worked as expected ...

Command used:
[co

[2020-04-30 17:27] worksofliam commented on #38
@richardm90

In your ILEditor 2 settings, is your build library or temporary library QTEMP?

Liam

[2020-04-30 17:29] richardm90 commented on #38
No. temp library is ILEDITOR and build library is RMTOOLS.

[2020-04-30 17:31] worksofliam commented on #38
@richardm90

How big is your 'largish' SQLRPGLE program? I will need a way to recreate this in our development system.

[2020-04-30 19:38] worksofliam commented on #37
Turns out the About dropdown never worked on Windows and only mac!

We've removed the option in future builds, for now.

[2020-04-30 19:38] #37 closed, assigned to nobody

[2020-04-30 19:38] worksofliam commented on #35
Expect to see this fixed in 0.4.5.

[2020-04-30 19:49] worksofliam commented on #40
@richardm90

We fixed the bug and now the files are saving correctly when they're created.

Right now, you do have to refresh. It will not show up automatically.

[2020-04-30 22:11] connorholyday commented on #30
We've tightened up the prompt and it should all be fixed up in the next release of 0.4.5

As for using the keyboard to select the compile commands, that's not currently implemented but we were just talking about it today. You can expect it to be landing in an update soon

[2020-04-30 22:15] connorholyday commented on #39
Thanks for your thoughts! This is an interesting take, we'll have to think things through and see where we want the app settings to eventually end up

[2020-04-30 22:17] connorholyday commented on #14
I'll close this for now :) if anyone can confirm they're still having this issue then we can re-open it

[2020-04-30 22:17] #14 closed, assigned to nobody

[2020-05-01 08:28] richardm90 opened #42 "Bug: Auto update to 0.4.5 error"
IBM i version = 0.4.5
System = Windows 10

I was on 0.4.4 and the auto update started for 0.4.5 when I clicked the restart notification I then got the following error message.

![image](https://user-images.githubusercontent.com/7809440/80793009-c893cb00-8b8d-11ea-98c2-13463db472cd.png)

I clicked OK and everything seems to be fine but thought it worth logging an issue.

[2020-05-01 09:13] connorholyday commented on #42
Riiight okay, thanks for raising this. We can get that fixed up no problem

[2020-05-01 13:56] worksofliam commented on #40
@richardm90

Can you test this for us in 0.4.5?

[2020-05-01 13:56] #35 closed, assigned to worksofliam

[2020-05-01 18:00] richardm90 commented on #40
@worksofliam

Windows 10
ILEditor v0.4.5

I was getting mixed results but there is still a problem.

I've only tested this in source members and not IFS files.

## Test 1

I created a new source member - TEST4.rpgle - and entered the following text.

[code]
I then closed the source and selected to save it.
I then reopened the member and this is what I get.
[code]
I had checked the source via 5250

[2020-05-01 18:02] richardm90 commented on #42
@connorholyday

I hadn't noticed earlier and thought this message only appeared during the update but I get the error everytime I open ileditor now. Clicking OK continues and as far as I can tell things are working.

[2020-05-01 22:14] connorholyday commented on #42
We've just released 0.4.6 which will fix this :)

[2020-05-01 22:14] #42 closed, assigned to nobody

[2020-05-03 17:07] richardm90 opened #43 "Bug: Edited members contain deleted records"
IBM i version = 7.4
System = Windows 10
ILEditor2 = 0.4.5

This wasn't immediately obvious and I only noticed the issue after running a tool I have that copies source members to an IFS git repository. What I saw was all of the source members I edited using ILEditor2 had a large number of empty lines at the top of the IFS source files. Eventually I started looking at the number of deleted records o

[2020-05-04 15:24] ciaramejia3 opened #44 "Feature: Easy Way to Find a Declaration"
**Is your feature request related to a problem? Please describe.**
'Enhancement
Just an idea for an enhancement.

**Describe the solution you'd like**
A way to do a command + click or ctrl + click to go to where the variable or subroutine has been defined in the file.

**Additional context**
<img width="278" alt="Screen Shot 2020-05-04 at 10 09 26 AM" src="https://user-images.githubusercontent.com

[2020-05-04 18:16] worksofliam commented on #44
Hi @ciaramejia3

Are you using live-errors? You'll be glad to know you can right-click on variables and clicking 'Go To Definition'.

https://ileditor.dev/docs/live-errors

Let me know what you think.

Liam

[2020-05-04 18:51] worksofliam commented on #43
Thanks for raising this!

This is a really interesting bug - we use SQL to insert and delete from the members. Will look into solving this!

[2020-05-04 19:14] ciaramejia3 commented on #44
<img width="499" alt="Screen Shot 2020-05-04 at 2 11 27 PM" src="https://user-images.githubusercontent.com/60701344/81003871-271cab80-8e11-11ea-9eb4-4d48fd240972.png">
Hmm. I thought that is what it does. However, it is saying "No definition found". Maybe I am doing it wrong?

[2020-05-04 19:29] worksofliam commented on #44
@ciaramejia3 Looks like there is a bug in your configuration there, anyway.

You don't need to define the live-errors as a compile option - but you should also fix it up by replacing it with this:

[code]

Then at the top of your code, you can use `//live-error:crtsqlrpgi`

Liam

[2020-05-05 13:57] ciaramejia3 commented on #44
Gotcha! Thanks Liam. It works!

[2020-05-05 14:55] #44 closed, assigned to nobody

[2020-05-05 15:55] chukShirley opened #45 "Bug: CPDA08A: CCSID attribute does not match specified value"
Use tags for the following:

IBM i version: 7.2
System: Mac OS

After using ILEditor to create a source member and editing the member with SEU, ILEditor 2 can no longer open it, displaying an error "CCSID attribute does not match specified value."

Rough time of error occurred: 10:35 AM Central

**Steps to reproduce:**
1. Create new member from within ILEditor 2 and add text
![image](https://user-

[2020-05-06 14:27] worksofliam commented on #45
Fix implemented and release pending.

Thanks @chukShirley!

[2020-05-07 14:18] richardm90 opened #46 "Feature: Linux version"
Are there any plans to release a linux version of ILEditor 2?

[2020-05-07 14:21] richardm90 opened #47 "Bug: Version 0.4.6 available?"
This may not be a bug and may just be pending release but I received a notification (a github email) that version 0.4.6 had been released but the client isn't automatically updating to that version.

I'm currently running 0.4.5.

[2020-05-07 15:09] richardm90 opened #48 "Feature: Successfully compiled feedback"
IBM i version = 7.4
System = Windows 10
ILEditor 2 version = 0.4.5

When a compile completes successfully I would still the ability to look at the compile command that was used. I just hit a scenario where the compile was successful but when the code ran it appeared to make no difference and for good reason I'd compiled to the wrong object library. It took me a while to work that out as I couldn't

[2020-05-07 15:12] richardm90 opened #49 "Feature: Cancel compile command selection"
IBM i version = 7.4
System = Windows 10
ILEditor 2 version = 0.4.5

I pressed the compile button and was presented with a list of possible compile commands. I then realised there was a further change I wanted to make the source file but couldn't find a way to cancel the compile and back out of the compile command list selection. I tried pressing ESC and Ctrl+C.

[2020-05-07 16:11] worksofliam commented on #48
Cool idea! We will poke around and see where we can fit it in!

[2020-05-07 16:12] worksofliam commented on #49
@connorholyday and I have been planning to change this for a while - expect it sooner than later!

[2020-05-07 16:12] worksofliam commented on #40
Just tested in 0.4.7 (release pending) and should hopefully be all fixed up!

[2020-05-07 16:14] worksofliam commented on #46
Absolutely possible - but not on our roadmap right now. Defo would be awesome to support it though!

Will discuss with Connor.

[2020-05-07 16:14] richardm90 commented on #48
I was wondering if it could work by clicking on the successful compile message and then the details slide up and are shown in a similar way to the unsuccessful compile details.

[2020-05-07 16:16] worksofliam commented on #38
For the record - Richard and I had a phone call where he showed the problem on his end. He has given me the source code to recreate the issue but I am not having much luck creating it. I believe it has something to do with the compiler results.

I am continuing to investigate.

[2020-05-07 16:24] richardm90 commented on #38
@worksofliam

I can easily replicate this so if it helps and you want to take control of my pc to debug then I'm more than happy to work with you on this, get you connected and leave you to it.

[2020-05-07 21:22] ciaramejia3 opened #50 "Feature: Delete Objects"
**Is your feature request related to a problem? Please describe.**
An easy way to delete an object.

**Describe the solution you'd like**

In 'Objects' just to right click -> delete would be perfect!

**Additional context**
Thanks.

[2020-05-08 01:26] chukShirley opened #51 "Bug: CL syntax highlighting and forward slash + asterisk"
The syntax highlighter treats /* as the beginning of a comment and looks for a corresponding */ to end it.
![image](https://user-images.githubusercontent.com/4006510/81360208-dd49f480-90a0-11ea-8b20-721a07f9317b.png)

[2020-05-08 14:26] worksofliam commented on #51
Good spot - thanks!

[2020-05-09 15:25] connorholyday opened #52 "Feature: Check for updates in menu"
Main menu item to check for an update

[2020-05-09 15:26] connorholyday commented on #47
That definitely doesn't sound quite right, we do have version 0.4.6 that's available at the moment.

To trigger an update check you'll need to close and then re-open the editor as we only have it set to check at startup currently. Perhaps we can add an item to the menu to check for updates while the editor is open, I've created a feature request for this over here #52

[2020-05-09 15:29] connorholyday commented on #48
That sounds like a nice solution

[2020-05-09 15:32] connorholyday commented on #41
We're planning to go through and update the Git clients features soon so you you can expect some new things to be on the way

[2020-05-09 18:26] richardm90 commented on #47
I'm still getting the error in #42 each time I start ILEditor 2 so may be that's stopping the auto update check from being performed.

[2020-05-09 18:29] richardm90 commented on #37
@worksofliam

I think there would still be a benefit in having an 'about' option, it's very common in desktop apps to have a Help > About page. The Settings > About page also requires that you make a connection to a server first. Not a major point but I think think there is merit being able to check the version you're running without needing to connect.

[2020-05-10 04:20] worksofliam commented on #50
Released with 0.4.7

[2020-05-10 04:20] #50 closed, assigned to worksofliam

[2020-05-10 04:20] worksofliam commented on #45
@chukShirley

This should be fixed in 0.4.7 - please retest and let me know.

[2020-05-11 10:12] DavidShears commented on #47
Not sure if it helps, but I was getting the error that you've described and tried uninstalling & reinstalling. Was then able to update to the latest version, so I'm thinking that either something in my installation was corrupt or there was an earlier update which confused something.

[2020-05-11 11:36] richardm90 commented on #47
@DavidShears that did the trick, thanks.

The problem started after I installed 0.4.5, prior to that auto updates were working.

[2020-05-11 15:54] worksofliam commented on #18
We've added dark mode :+1:

[2020-05-11 15:55] worksofliam commented on #25
Completed and deployed :)

[2020-05-11 15:55] #25 closed, assigned to nobody

[2020-05-11 18:42] worksofliam commented on #45
Discussed with @chukShirley and said the issue is fixed.

[2020-05-11 18:42] #45 closed, assigned to chukShirley

[2020-05-11 18:43] worksofliam commented on #47
@richardm90

We've released 0.4.8 now - any luck getting this version yet?

[2020-05-11 18:44] worksofliam opened #53 "Bug: Incorrect lines highlighted on imported cczip"
**Is your feature request related to a problem? Please describe.**

Not related to an issue.

**Describe the solution you'd like**

The code coverage plugin should be able to import existing cczip files from the IFS and display them like normal code coverage.

[2020-05-11 19:46] richardm90 commented on #47
@worksofliam

I manually uninstalled 0.4.5 earlier today and then reinstalled, after re-installation the app auto updated to 0.4.7.

Version 0.4.8 has also auto installed.

[2020-05-11 19:54] worksofliam commented on #47
I think it may have been a bug with a specific version.

I will close this for now but please re-open if it happens again.

[2020-05-11 19:54] #47 closed, assigned to nobody

[2020-05-12 14:29] RandleBR opened #54 "Bug: Cannot open source members with names starting with a dollar sign"
Use tags for the following:

* IBM i version : V7R3
* System (Windows or Mac OS)  : Mac OS
**Describe your issue:**
Source members starting with a dollar sign ($) do not open in the editor.  Same member renamed to start with another character opens.

**Please paste any screenshots below.**
![image](https://user-images.githubusercontent.com/2577433/81703510-54311580-9432-11ea-9f22-9c4e0ba9a834.png)

[2020-05-12 14:46] worksofliam commented on #54
I will investigate! 👍

[2020-05-15 12:00] chukShirley opened #55 "Bug: Changing tab while saving"
IBM i Version: 7.2
System: Mac OS

Time: 6:50 AM Central

The editor seems to treat multiple tabs as active if I attempt to change tabs while saving a member. In the images below, I saved OE0001WEB. While it was saving, I clicked the tab for OE0001CL. This resulted in both tabs appearing to be active, but only the OE0001WEB source member is displayed. If I have a third tab open, it is not treated

[2020-05-15 21:12] ciaramejia3 opened #56 "Feature: Lock File"
**Is your feature request related to a problem? Please describe.**
This would be really nice to have! If we could have the option to lock the file when viewing. I am still switching over to RDi and when I am not thinking, I will open the file in ILEDITOR and will make changes.

**Describe the solution you'd like**
Have the option to lock the file when editing.

**Additional context**
Thanks guys!

[2020-05-17 20:35] worksofliam commented on #56
Yes, we can do this! I will look into getting it done.

[2020-05-17 20:36] worksofliam commented on #54
@RandleBR On my schedule to get a fix for this out by Tuesday.

Thanks!

[2020-05-18 21:06] JonFP opened #57 "Bug: Source File Shortcuts not remembered"
* IBM i version 7.4
* System (Windows or Mac OS) Mac Catalina - 10.15.4

Source file shortcuts are not remembered from one session to another. Even if the app remains loaded any time I have to log out/in all previous settings are lost.

Rough time of error occurred: Always.

[2020-05-18 21:10] JonFP opened #58 "Feature: Need to either have multiple IFS shortcuts or tree view"
During my working day I commonly need to access a variety of different locations in the IFS.

The current method limits me to a single directory entry and I would have to set that to root to get the kind of access I require and that would be just too cumbersome.

Either allow multiple shortcuts as with source physical files, provide a tree style browser.

[2020-05-18 21:13] JonFP commented on #57
Just noticed that my library list settings have also disappeared.

[2020-05-18 21:24] ciaramejia3 opened #59 "Bug: Library List Not Saving"
Use tags for the following:
'Bug
* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
When compiling, my library list would keep undoing any changes I made to it in the ILEDITOR, reverting to how it was previously. Had to go to green screen then to change it.

**Rough time of error occurred**:
Today. All day.

**Please paste any screenshots below.**

[2020-05-18 21:45] ciaramejia3 opened #60 "Bug: Compiler Messages Giving Different Error Messages"
Use tags for the following:
'Bug
* IBM i version
* System (Windows or Mac OS)

**Describe your issue:**
I will get different error messages. Same messages will be given every other time. At one point, it would give me only RPGLE errors and I wouldn't make any changes and then would compile it again and would give me only SQL compiler errors. Again, wouldn't make any changes to just see what it wou

[2020-05-19 08:34] connorholyday commented on #57
That's a pain, we'll look into this ASAP. Thanks for reporting

[2020-05-19 08:35] connorholyday commented on #59
This is a pain, we'll look into this ASAP. Thanks for reporting this. Also mentioned in #57

[2020-05-19 11:32] worksofliam commented on #60
So what you're saying is you could compile it twice without changing any of the source code and it would give you different errors the second time around?

I will look into this! I wonder if it has something to do with the config not saving.

[2020-05-19 11:34] worksofliam commented on #58
Thought about doing this before but this confirms it. Home directory and IFS Shortcuts will become two different settings.

[2020-05-19 15:25] ciaramejia3 commented on #60
Correct! You said it beautifully and in a way that was a lot easier to understand. haha! Thank you.

[2020-05-19 19:47] JonFP commented on #58
Makes sense to me.

Now if it would only remember my source file settings.

Jon Paris

jon.f.paris@gmail.com

[2020-05-20 01:02] worksofliam commented on #59
Has been looking into and resolved. We just need to release it now.

[2020-05-20 01:03] worksofliam commented on #58
![image](https://user-images.githubusercontent.com/3708366/82393335-f5752880-9a3d-11ea-9e04-339690a8e257.png)

![image](https://user-images.githubusercontent.com/3708366/82393370-0f167000-9a3e-11ea-9964-abba3915afc5.png)

Pending release!

[2020-05-20 01:32] worksofliam commented on #54
Solved and currently pending release.

Thanks @RandleBR!

[2020-05-20 01:41] worksofliam commented on #60
While this is going to sound weird, I think this should be solved with the patch to the config saving issue.

[2020-05-20 14:08] JonFP commented on #58
Yea!  But will it remember them!

Jon Paris

jon.f.paris@gmail.com

[2020-05-20 20:24] worksofliam commented on #59
We have released 0.4.10 with the fix - please give this a test and let us know.

[2020-05-20 20:24] worksofliam commented on #58
We have released 0.4.10 with the feature - please give this a test and let us know.

[2020-05-20 20:25] worksofliam commented on #57
We have released 0.4.10 with the fix - please give this a test and let us know.

[2020-05-20 20:25] worksofliam commented on #54
We have released 0.4.10 with the fix - please give this a test and let us know.

[2020-05-20 20:27] ciaramejia3 commented on #59
Yes! Thank you guys! It is now saving.

[2020-05-20 20:37] JonFP commented on #58
Will do.

Jon Paris

jon.f.paris@gmail.com

[2020-05-20 20:42] JonFP commented on #57
Where the heck is the download?  The web regular download is giving a 404 and I cannot locate anything other than the -issues area on GitHub.

Jon Paris

jon.f.paris@gmail.com

[2020-05-20 21:01] worksofliam commented on #57
The links were broken, but they are fixed now - also the app is self-updating. It will automatically start to download when you launch the editor.

[2020-05-20 21:54] JonFP commented on #57
Excellent thanks.

Every time I start the editor it is coming up with a small red dialog - something like "It looks as if some of those details were incorrect".

Any logs I can give you to help see what that is - or do you already know about this one?

Jon Paris

jon.f.paris@gmail.com

[2020-05-21 02:33] RandleBR commented on #54
Yes, issue resolved!

Thanks!

[2020-05-21 02:33] #54 closed, assigned to worksofliam

[2020-05-21 09:28] #59 closed, assigned to connorholyday

[2020-05-21 09:31] connorholyday commented on #57
Do you have the "Auto-connect" box checked? If yes then this is something we're looking into at the moment

[2020-05-21 09:56] richardm90 commented on #40
@connorholyday

I hadn't noticed Liam's comment from a couple of weeks ago - that this should be fixed in 0.4.7.

I've just tested this in 0.4.10 and I get exactly the same results I documented above. Are you able to reopen this issue?

[2020-05-21 11:09] connorholyday commented on #40
Yes of course. We definitely got it fixed up for our tests when we were putting together that release so that's a real pain. We'll dig deeper and run some more tests, thanks for re-testing it.

[2020-05-21 11:22] JonFP commented on #57
I didn't but had tried it to see if it offered a solution.  It didn't.  But the fix version that Liam put up yesterday seems to have worked - plus I have my multiple IFS shortcuts as well!

Jon Paris

jon.f.paris@gmail.com

[2020-05-21 18:00] RandleBR commented on #58
I tried this with a few directories and got 'not found'.
Attempted a few different short cut paths (add a slash, remove the slash, change case) and also changed home directory.  All returned an error not found so I reloaded.
Now I can not login because 'Home directory not created. Please update your home directory in the settings'

But I am not able to update settings without logging in? I'm stuck

[2020-05-22 09:56] connorholyday commented on #57
This is great! Thanks for confirming the fix has done its job

[2020-05-22 09:56] #57 closed, assigned to connorholyday

[2020-05-22 11:00] worksofliam commented on #58
@RandleBR

We're about to push 0.4.11 to resolve this.

The app requires a valid directory to be specified. Now, if you try to log in and the directory isn't valid (doesn't exist) then it will be reset.

[2020-05-22 12:45] worksofliam commented on #60
@ciaramejia3

Are you able to give this a go with 0.4.11?

Thanks!

[2020-05-22 12:46] worksofliam commented on #58
@RandleBR

Give it a go and let us know. We will be closing this feature now, but please raise another if you continue to have any issues. Thanks!

[2020-05-22 12:46] #58 closed, assigned to worksofliam

[2020-05-22 13:11] RandleBR commented on #58
Yes, the update now shows the home directory error but still logs in with a
reset directory.
All good now!

On Fri, May 22, 2020 at 7:46 AM Liam Barry <notifications@github.com> wrote:

[2020-05-22 14:58] ciaramejia3 commented on #60
Yeah. Still giving me different error messages...

[2020-05-22 18:53] connorholyday commented on #40
I've tested both members and streamfiles in 0.4.11 and haven't been able to reproduce it myself.

@richardm90 Would you be able to take another look? If you have access to any other boxes are you able to confirm it happens for all of them? Wondering if there are any other factors that might be at play here

[2020-05-22 21:42] connorholyday commented on #55
All done, you can expect this one in our next release: 0.4.12

[2020-05-23 22:02] worksofliam commented on #60
@ciaramejia3

During the week, i'd like to get on a Zoom with you and see if we can recreate it together on our end.

Thanks!

[2020-05-23 22:11] worksofliam commented on #40
Just a small update here.

I've just tested creating and compiling brand new sources in both QSYS and the IFS and also works for me.

Thanks!

[2020-05-25 15:07] chukShirley opened #61 "Feature: Binder language syntax highlighting/checking"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to easily read and quickly debug my binding signature source members.

**Describe the solution you'd like**
Implement syntax highlighting and add syntax checking for binding signature source members.

![image](https://user-images.githubusercontent.com/4006510/82824734-7897e380-9e6f-11ea-8005-4006c099f665.png)

[2020-05-26 06:48] richardm90 commented on #40
@worksofliam @connorholyday

I've just performed a clean installation of ILEditor 2 v0.5.0 against a v7r3 machine and get the same results I describe above. I'd previously tried on a v7r4 machine.

This is using Windows 10 Pro 1909 - I think you guys tend to use Macs.

Could it be CCSID? My source physical file CCSID is 1146.

[2020-05-26 13:31] ciaramejia3 commented on #60
Yes. Sounds good. Let me know what day/time works best for you!

[2020-05-26 13:49] worksofliam commented on #61
Can defo do this!

[2020-06-03 02:24] worksofliam commented on #60
@ciaramejia3 With the latest release, you should see if this error still persists.

[2020-06-03 11:23] #55 closed, assigned to connorholyday

[2020-06-03 14:47] ciaramejia3 commented on #60
Doesn't seem to give me different errors every other time. However, it does not like my /copy. I am able to compile the same program in green screen.

[2020-06-05 17:54] ciaramejia3 opened #62 "Bug: Deleted Code"
Use tags for the following:
'Bug
* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
When trying to comment my code, I went outside the boundaries. Of course, when saving the file, it didn't like that. Not knowing why it had erred, I closed my file and reopened it, and it had deleted all my code after my comment. Thankfully I made a copy so I had not lost it. But just

[2020-06-05 20:01] worksofliam commented on #62
Hey, thanks for sharing this!

Yup, this would be happening because of the record limit. Can definitely add some better error handling for this.

I’ll get it done over the weekend.

[2020-06-06 17:00] richardm90 opened #63 "Feature: RPGLEINC file type"
**Is your feature request related to a problem? Please describe.**

IBM i v7r4
Windows 10
ILEditor 2 v0.5.1

I've been making use of the RPGLEINC file type for a while now, for my IFS copy books.

At the moment no syntax highligting occurs for IFS source files with an rpgleinc file type.

I find using this different file type handy as I can include my service program copy book source file in the s

[2020-06-07 12:14] worksofliam commented on #63
I can do this! Perhaps one day soon we could even make the extensions and their syntax’s configurable.

[2020-06-07 12:15] worksofliam commented on #60
Hey @ciaramejia3 - do you want to share your copy directive error? Could it be a library list issue?

[2020-06-08 19:06] ciaramejia3 commented on #60
Hey! It is saying CPF4102 File QRPGLESRC in library *LIBL with member CFRESH_H not found for every /copy

Library list is set the same as in green screen.

[2020-06-11 12:21] worksofliam commented on #62
We are adding code to not let the user write over the record length. This will stop this issue from happening.

[2020-06-11 12:25] worksofliam commented on #63
As well as `rpgleinc`, I also added `rpgle_h`. Out soon!

[2020-06-11 12:33] worksofliam commented on #61
![image](https://user-images.githubusercontent.com/3708366/84385788-19183280-abe8-11ea-8763-02358bc279f7.png)

Coming soon!

[2020-06-13 20:54] AbrahamReuben opened #64 "Unable to login to Pub400"
Getting an error - ECONNREFUSED while trying to connect to PUB400 on trial mode.
Error: Oops! It looks like some of those details were incorrect. (ECONNREFUSED)
![57_2020-06-14_02 23 15AM](https://user-images.githubusercontent.com/40315972/84578805-24d14800-ade6-11ea-8ff7-59b368dd88de.png)

[2020-06-13 20:59] AbrahamReuben commented on #64
System: Windows 10

[2020-06-13 21:06] AbrahamReuben opened #65 "Bug: After few failed attempts of logging in, the program still seems to remember hostname/username/password even after flipping the Save details check box to off."
Use tags for the following:

System (Windows or Mac OS): Windows 10

After few failed attempts of logging in/connecting to Pub400 server and flipping the 'Save details' checkbox in one such failed attempt, the program still seems to remember the Hostname, Username and Password when opened again.

Steps to recreate:
1. Try connecting to a server that fails by providing Hostname, Username and Passwo

[2020-06-15 10:54] worksofliam commented on #64
This usually does indicate that the connection details (user/pass) were wrong. They also need to have the SSH Daemon started on that box. I am not sure of the specific setup.

[2020-06-15 12:09] connorholyday commented on #64
I think pub400 has changed their SSH port, we can add the ability to specify the port

[2020-06-17 08:28] connorholyday commented on #64
Hey @AbrahamReuben we've released 0.5.2 which now has the option of setting a port. Once updated you'll be able to set the port to 2222 if connecting to pub400

Let us know if that's all fixed and working 👍

[2020-06-17 08:29] connorholyday commented on #65
Thanks for reporting this, we'll investigate and see what we can do

[2020-06-17 21:54] worksofliam commented on #63
@richardm90

We just shipped this a few days ago. Please let us know if you have any questions!

[2020-06-17 21:56] #61 closed, assigned to worksofliam

[2020-06-17 21:56] worksofliam commented on #62
@ciaramejia3

We have shipped this fix. Please check it out for us.

[2020-06-17 22:03] worksofliam commented on #60
@ciaramejia3

Is this still an issue? Did you investigate into this at all?

[2020-06-17 22:05] #63 closed, assigned to worksofliam

[2020-06-18 06:51] richardm90 commented on #63
@worksofliam that works well, thanks

[2020-06-18 15:20] ciaramejia3 commented on #62
Sweet! Thanks. Looks good.

[2020-06-18 16:25] ciaramejia3 commented on #60
Yes! Seems to be working now. Thank you :)

[2020-06-19 09:20] #62 closed, assigned to worksofliam

[2020-06-19 09:20] #60 closed, assigned to worksofliam

[2020-06-19 14:20] richardm90 opened #66 "Feature: could the git plugin use the ifs shortcuts?"
ILEditor 2 v0.5.2
IBM i 7.4
Windows 10

Would it be possible show the same list of IFS shortcuts in the git plugin as shows in the IFS plugin? I think the git plugin is currently showing just the home directory.

By the way I've just discovered the ifs browser search facility. That is amazing fast. The response is almost instant over a remote server connection and a folder of 4k+ source files. I'm

[2020-06-19 15:02] worksofliam commented on #66
Hey @richardm90

Yes, the git plugin could absolutely do that! @connorholyday and I actually have a branch of new features for the git plugin (since I am using it ALL the time!), but I will make sure to support that too!

Really glad you're enjoying the filter - I was in the same spot where I had 1500+ files/members and needed to find a single one.

[2020-06-20 00:01] msavelli commented on #64
I am getting the same error attempting a login to pub400.  I am setting the host to pub400.com, the port to 2222 and using the same login credentials as I use in the Mocha TN5250 emulator.  Any other thoughts?

[2020-06-21 03:48] LuigiBrito opened #67 "Enable non-ssh connection"
Most, if not all, of companies I've worked for are not SSH enabled. If ILEDITOR 2 is stuck with SSH it cannot be used.

[2020-06-21 12:40] worksofliam commented on #67
@DgitalTrex Thanks for letting us know that.

I am curious - while we are thinking of other alternative methods of connection, why do they not have SSH enabled?

Liam

[2020-06-21 21:46] connorholyday commented on #64
@msavelli can you confirm which version you are running?

We'll look into this and see about getting a fix out pretty soon

[2020-06-21 22:25] msavelli commented on #64
Yes, I'm attempting to trial ILEditor2.  I have seen the below pasted tip, but unable to try because I don't see the left nav icons and the settings icon is disabled.  Thank you so much for the follow-up.

https://www.nicklitten.com/ileditor-connection-problem-with-pub400/

[2020-06-21 23:21] LuigiBrito commented on #67
Hi thanks for responding never expected that.

I'm not sure if it's regional or anything like that. But every single client is setup with me using a specific VPN client and connecting to a 192 local IP.

I've never seen them enable SSH by default, it's also difficult to have an IS team enable SSH when a client has been running without SSH for a long time. It's just not plausible for me to "hey can

[2020-06-22 08:16] AbrahamReuben commented on #64
Hello @connorholyday

Thank you for looking into my issue.

I tried going with a fresh install of ILEditor by downloading the installer from your website. Could note that the installer is 'ILEditor.2.Setup.0.5.1.exe' while I was expecting a 0.5.2.exe (File version is still 0.5.1). However few mins after install, the program automatically updated to version 0.5.2. So, all good there.
Just wanted to

[2020-06-22 08:35] connorholyday commented on #64
@AbrahamReuben we hear you, that help menu is in the works! We're prioritising bug fixes at the moment but you can definitely expect that to make an appearance at some point :)

Yes it sounds like you might be on the right track with your hunch. What we can do is if both you and @msavelli send us an email over at [support@ileditor.dev](mailto:support@ileditor.dev) then we can refresh your trial pe

[2020-06-22 08:39] connorholyday opened #68 "Make key usage friendlier"
We could update the messaging here to show a couple of things:
- Where to manage keys (the admin)
- When the key expired
- When the trial period took place

[2020-06-22 09:16] AbrahamReuben commented on #64
Thanks @connorholyday. I've sent in an email requesting for extension.

[2020-06-22 11:16] worksofliam commented on #67
No problem @DgitalTrex 😊

I wonder what your region is? Most of our users are in Europe or the Americas.

What other methods of connection do you propose? ILEditor 1 used FTP and while it worked great, it was way less secure - which is why we use SSH in ILEditor 2. Open to ideas.

Thanks!!

[2020-06-22 13:52] LuigiBrito commented on #67
Hi there. I'm from SEA region. Clients I work for are in SEA region as well. most in US, some in Malaysia and Singapore. None of them has the SSH on, it's all 'use this VPN, then use this address'. I almost worked for Santander so I understand how "strict" they are and SSH would most likely be defacto standard.

I don't know the exact science of how RDi connects to servers, but can it be replicate

[2020-06-22 14:28] msavelli commented on #64
Thanks @connorholyday. I've also sent in an email requesting an extension.

[2020-06-23 15:33] worksofliam commented on #67
Thanks for the info!

It's unlikely we'll be able to reimplement a lot of how RDi works because IBM has implemented protocols specifically for RDi and this isn't something we can make use of right now. We use SSH because it's secure, generic, supported on all newer versions of the OS.

@connorholyday and I have been discussing what the work is to make FTP a connection method - but I personally am

[2020-06-24 10:28] worksofliam commented on #15
@connorholyday Let's add the filter to the objects panel too.

[2020-06-24 10:29] worksofliam commented on #28
We've added a local filter - which means you first have to open to source file/directory first, and then the filter can search all local results.

Seems like you were already using this feature we forgot to close this related issue!

[2020-06-24 10:29] #28 closed, assigned to nobody

[2020-06-24 11:10] richardm90 commented on #28
@worksofliam yes good point

[2020-06-24 11:20] richardm90 opened #69 "Feature: member/file filter only works on previously opened source files/directories"
When using the new filter facility on the member and ifs browser I noticed that the filter only works once I have opened the the source file or directory. If I have a list of many source files or directories then it's not an easy feature to use. I often want to search for members across multiple source files.

I'm not sure if this is intended behaviour as it took me by surprise so it could be a bu

[2020-06-24 11:43] worksofliam commented on #69
This is the intended functionality. We may change it in the future, but it won't be any time soon as we're working on getting some other features out.

This is definitely a long term feature, and I am all for it! We can probably get the X piece done sooner.

[2020-06-24 21:07] LuigiBrito commented on #67
Thanks for letting me know. I was very afraid that IBM did something like that. Very Apple-esque

[2020-06-24 21:07] #67 closed, assigned to nobody

[2020-07-01 21:50] worksofliam commented on #68
Backend piece to provide more information about keys has been finished. Over to you @connorholyday 👏

[2020-07-02 02:00] worksofliam opened #70 "Feature: Split tabs"
Things to consider:

* Saving
* Clicking compile errors going to the right tab

[2020-07-02 02:16] worksofliam opened #71 "Feature: First time messages"
I think for new users there needs to be a tutorial like an intro using toasts. You should only see these messages once, but perhaps re-enable them in the settings.

A couple of ideas:

[2020-07-02 02:20] worksofliam opened #72 "Feature: Way to manage multiple systems"
I am having to re-enter different systems multiple times a day. Why not store it so I can just select which box I want to connect to.

[2020-07-02 03:45] msavelli commented on #64
Considering this issue is being closed, should I not expect to be receiving any further assistance including a trial key?

[2020-07-02 08:55] connorholyday commented on #64
I think this one might have been closed by mistake, both yourself and Abraham will be getting new trials and the pub400 work is coming up next on the list :)

[2020-07-02 13:39] AjaykulkarniIBMi opened #73 "Bug: opening members in different ASP"
Use tags for the following:

* IBM i version 7.4
* System (Windows or Mac OS) MAC 10.15.5

**Describe your issue:**  When I click on the source member I am not getting the source code. I am able to see the source within IFS but not in the traditional source file. If i create a new member i am not able to save it.

**Rough time of error occurred**:

**Please paste any screenshots below.**

[2020-07-02 22:45] connorholyday commented on #65
This won't be an issue any more with the release of the new quick connections feature :)

[2020-07-02 22:48] connorholyday commented on #64
We've got connecting to pub400 all fixed up and ready for the next release

[2020-07-02 22:51] connorholyday commented on #34
Thanks for the feature request! This is definitely something we can look into

[2020-07-02 22:52] msavelli commented on #64
Thank you.  Looking forward to it.  Have a nice weekend.

[2020-07-02 23:12] worksofliam commented on #40
![image](https://user-images.githubusercontent.com/3708366/86416515-0c0bd200-bcc2-11ea-81b2-0d617ffaa884.png)

Recreated this issue on Windows and have also found the issue.

Liam

[2020-07-02 23:38] worksofliam commented on #40
Fixed - it was a newline issue only happening on Windows. Now I finally have Windows I was able to test it and fix it!

[2020-07-03 22:19] connorholyday opened #74 "Feature: open git browser from IFS"
It would be nice if there was a visual indicator in the IFS that showed a folder is also a git repo and you could then open it in the git browser

[2020-07-03 22:22] worksofliam commented on #66
@richardm90

I've had some thought about this and we're actually thinking of leaving it the same as it is now, but instead adding a content item to the IFS browser to "Set as home directory" which would then reflect on the git plugin.

Eventually, we're going to be adding functionality to the git plugin which probably would bode with having show multiple directories.

[2020-07-04 14:04] worksofliam commented on #73
Hey @AjaykulkarniIBMi!

This is funny because we had this bug before but we actually removed it to implement source dates.

I am assuming you do not have `db2util` installed?

I know how we can fix it, so I will keep you posted for when it's released.

[2020-07-06 14:09] richbelcher opened #75 "Error running or loading coverage ILEditor 2.0"
Just downloaded and was attempting to access a source member when  I received the above error.  Is there something I need to correct.

Thanks

[2020-07-06 14:19] worksofliam commented on #75
Hi @richbelcher

Do you have the correct PTFs installed for code coverage? You can see them here: https://ileditor.dev/docs/code-coverage

Thanks!

[2020-07-06 14:53] worksofliam commented on #73
@AjaykulkarniIBMi

From 0.6, you will be able to specify the ASP name in the source file shortcuts if it's required.

I am about to update the docs. Check in again when we release the fix.

[2020-07-06 15:07] AjaykulkarniIBMi commented on #73
OK, Thanks, cant wait to try it out.

[2020-07-06 22:02] worksofliam opened #76 "Feature: Modal for keyboard shortcuts"
Lots of requests to integrate it into the editor.

[2020-07-06 22:05] worksofliam opened #77 "Feature: Local file editor"

[2020-07-06 22:08] worksofliam opened #78 "Bug: Hide files with no errors"
Do not show sources with no errors. For example:

![image](https://user-images.githubusercontent.com/3708366/86654059-94011d00-bfdd-11ea-8739-097f7476c076.png)

[2020-07-07 18:54] richardm90 commented on #48
Just to add another point to the compiler feedback. If you have multiple source tabs open the compiler status/feedback it would be really handy if the compiler status/feedback made it clear what tab it related to.

[2020-07-07 19:01] richardm90 opened #79 "Feature: compile command config embedded in the source"
In order to make live-errors work you need to embed live-errors (or is it live-error) as a comment in your source file.

Would it be possible to set the compile option for the source in the same/similar way?

Then when I press Ctrl-E to compile it uses the compile command I have defined in the source file. If there's no compile command embedded in the source file then it prompts you.

[2020-07-07 19:43] connorholyday commented on #46
We're investigating

![image](https://user-images.githubusercontent.com/4559119/86834123-590cf100-c092-11ea-92ac-a35676bc65f6.png)

[2020-07-07 19:50] worksofliam commented on #43
Fixed. We're going to run a CLRPFM on the member to remove the deleted records before writing the new ones. Will be available in 0.6.

[2020-07-07 19:52] worksofliam commented on #79
An awesome idea! Can absolutely do that. If we did this, we may change the tag from `live-errors` to something more universal completely.

Thanks @richardm90!

Liam

[2020-07-07 20:01] richardm90 commented on #79
Good thinking on using a different directive but I guess the new directive would be used for compile and live errors.

[2020-07-07 20:04] richardm90 commented on #43
Will you run in to issues with member locks (doing a clrpfm)? I know it's unlikely someone else would be editing/browsing the same member but it has happened for me in the past.

[2020-07-07 20:05] richardm90 commented on #46
Very excited about this.

[2020-07-07 20:20] worksofliam commented on #43
If it's the case that the member is locked, then the save will not be able to happen - but you wouldn't lose of your work yet. The same thing would happen now.

[2020-07-07 20:20] worksofliam commented on #79
@richardm90

That's exactly right. Perhaps something generic like `compile-type` or `compile-option`

[2020-07-07 23:23] #78 closed, assigned to connorholyday

[2020-07-07 23:23] #66 closed, assigned to worksofliam

[2020-07-07 23:23] #15 closed, assigned to connorholyday

[2020-07-07 23:23] #40 closed, assigned to nobody

[2020-07-07 23:23] #41 closed, assigned to worksofliam, connorholyday

[2020-07-07 23:23] #43 closed, assigned to worksofliam

[2020-07-07 23:23] #65 closed, assigned to connorholyday

[2020-07-07 23:24] worksofliam commented on #64
Please try this again - there is also a quick shortcut for it. We will close unless any further problems arise.

[2020-07-07 23:24] #64 closed, assigned to connorholyday

[2020-07-07 23:25] worksofliam commented on #73
@AjaykulkarniIBMi

Please see this page on the docs about opening code in a different ASP: https://ileditor.dev/docs/editing-members

I will close this for now, but let me know of any issues.

[2020-07-08 00:42] AjaykulkarniIBMi commented on #73
This is not working.
I tried to use the IASP, and it is not working, when i click on the source file i get an error saying copy command failed.CPF2817

[2020-07-08 01:36] worksofliam commented on #73
@AjaykulkarniIBMi

What did you put into the Source file shortcuts? Can you share a screenshot?

[2020-07-08 08:29] richardm90 opened #80 "Bug: source member won't open (broken hex with db2util)"
Use tags for the following:

* IBM i version: 7.4
* System (Windows or Mac OS): Windows 10
* ILEditor2 0.6.0

Using the member browser I filtered on one of my source files, this produced a list of the four members I was interested in.

I was able to open all but one of the four members.

When I click that source member I get the Loading... message briefly but then nothing. No feedback at all. As I

[2020-07-08 09:20] connorholyday commented on #48
Yes I agree, if we don't already then we should definitely be making this clear

[2020-07-08 09:22] connorholyday opened #81 "Feature: Comparing sources"

[2020-07-08 11:42] worksofliam commented on #80
Hey @richardm90

What is the name of the member? Any odd characters in there?

We'll get some feedback in. Are you using `db2util`?

[2020-07-08 11:49] richardm90 commented on #80
@worksofliam , the member name does include a hash (pound symbol) but then a lot of my member names do.

![image](https://user-images.githubusercontent.com/7809440/86914880-f3177c80-c118-11ea-97df-08acd49cdfab.png)

In the image you'll see the four members I mentioned. All but the last member will open. Could there be something within the member (unusual character) that stops it loading? I've scan

[2020-07-08 11:52] worksofliam commented on #80
@richardm90 thanks for this info!

No, but it uses a different mechanism to fetch the content of the source. Are you able to use `CPYTOSTMF` against that member and send us a copy? (support[at]ileditor[dot]dev)

I am hoping we can recreate this on our end.

Thanks!

[2020-07-08 12:45] richardm90 commented on #80
OK, I found it. There is an unusual character in the file, which is obvious when I view the source through SEU but was hidden when viewed through RDi. It was part of a comment that I copied in (using RDi) from a PDF. In RDi it shows as a dash (minus), which is what I expected but in SEU it shows as a ?.

The source file has CCSID 285 and the hex of the rogue character is x'3F'.

For completeness I

[2020-07-08 13:24] richardm90 opened #82 "Bug: Server panel details empty on open"
Use tags for the following:

* IBM i version 7.4
* System (Windows or Mac OS): Windows 10
* ILEditor 0.6.0

I'm sure that ILEditor used to remember the host, user and password details from the last login.

When I open ILEditor after upgrading to 0.6.0 these input fields are always empty.

[2020-07-08 13:50] worksofliam commented on #82
@richardm90

We've actually changed the way this works. We implemented quick connections, so now instead of it remembering the fields you can click save which will allow you to use it again in the future.

![image](https://user-images.githubusercontent.com/3708366/86926682-447c3780-c12a-11ea-896f-d9e0369a44ec.png)

Then you can click on the connection and it will pre-save the details you entered.

[2020-07-08 13:50] #82 closed, assigned to nobody

[2020-07-08 13:53] richardm90 commented on #82
@worksofliam very nice, really like that.

[2020-07-08 13:54] worksofliam commented on #82
You can thank @connorholyday for that! I love this feature too.

[2020-07-08 14:01] worksofliam commented on #38
@richardm90

Here it is working with SQLRPGLE in a source member, although it doesn't work in every instance.

![image](https://user-images.githubusercontent.com/3708366/86927548-5ca08680-c12b-11ea-8a62-ed46677e0cdd.png)

We may have to take this feature out, or maybe disable it for SQLRPGLE for the near future until I can spend some hard hours fixing it up. I totally blame the pre-compiler :)

[2020-07-08 14:08] AjaykulkarniIBMi commented on #73
![image](https://user-images.githubusercontent.com/37787504/86928680-7d041d00-c0fa-11ea-9d2c-fa56516f88e8.png)
![image](https://user-images.githubusercontent.com/37787504/86928721-8e4d2980-c0fa-11ea-9eee-4bfa4a5540e0.png)
![image](https://user-images.githubusercontent.com/37787504/86928777-a02ecc80-c0fa-11ea-9ae3-86021701fc1f.png)

[2020-07-08 14:32] RandleBR commented on #53
Thanks for adding this feature!
I use the 'dark' theme and the view is a white-on-white view of the source.  Can you set this to be viewable with the dark theme?

I'm comparing the results to RDi and getting some different results on the same cczip. Notice that in the image the line 140 shows as green/covered in ILEditor but not in the RDi screen on the right. Line 143, 151 also show covered but w

[2020-07-08 16:16] worksofliam commented on #73
@AjaykulkarniIBMi

I am afraid you cannot use QTEMP as the temporary library in ILEditor 2. Perhaps we should make that clearer too!

I would recommend you use a user library, or better create an `ILEDITOR` library that everyone can share.

[2020-07-08 16:17] worksofliam commented on #38
@richardm90

Ok, I just made some very tedious fixes to the complication process and I am expecting some much better results for you now.

We're going to push out 0.6.1 tonight, which should help this a lot.

[2020-07-08 16:26] worksofliam commented on #53
hey @RandleBR

Thanks for sharing this. Is this from an imported CCZIP? Are you able to send that to us at support[at]ileditor[dot]dev?

I will try to get this fixed for 0.7.

[2020-07-08 17:03] AjaykulkarniIBMi commented on #73
OK, that fixed the issue, however new issue now, unable to save the file

![image](https://user-images.githubusercontent.com/37787504/86948615-ff004000-c112-11ea-9b56-e3d0c1f54385.png)

[2020-07-08 18:17] RandleBR commented on #53
Yes, on an imported cczip. I’ll send you the cczip later today.

[2020-07-08 18:49] RandleBR commented on #53
Here's the cczip that goes with the image.  Let me know if you you need any
other information.

Thanks,
Brian Randle

On Wed, Jul 8, 2020 at 11:27 AM Liam Barry <notifications@github.com> wrote:

[2020-07-09 00:44] worksofliam commented on #73
@connorholyday found the issue tonight. He will implement a fix and 0.6.1 will go out tomorrow night. Thanks!

[2020-07-09 00:46] worksofliam commented on #53
Hey @RandleBR

We never got the attachment. Could you try sending to that email again? Thanks!

[2020-07-09 01:43] RandleBR commented on #53
Hmm, The 'sent' version shows an attachment.
I'll retry.

On Wed, Jul 8, 2020 at 7:46 PM Liam Barry <notifications@github.com> wrote:

[2020-07-09 01:45] RandleBR commented on #53
Here's the cczip file attached.  Let me know if you don't get it.

On Wed, Jul 8, 2020 at 11:27 AM Liam Barry <notifications@github.com> wrote:

[2020-07-09 02:17] worksofliam commented on #53
Thanks @RandleBR - we got it!

[2020-07-10 00:11] connorholyday opened #83 "Feature: ability to toggle viewing source dates"
File menu command and a keyboard shortcut

[2020-07-10 12:33] worksofliam commented on #80
x'3F' is end of transmission.

Is there any reason you've got this in your source? I've seen it a few times but the reason isn't clear to me.

Edit: turns out it adds color to SEU....

[2020-07-10 13:26] worksofliam commented on #73
@AjaykulkarniIBMi

We deployed the fix last night. You should try again soon!

Thanks

[2020-07-10 14:17] richardm90 commented on #80
This wasn't deliberate. I copied some comment text in from a PDF file and the dash came across as x'3F' rather than  a dash. Visually it looked fine in RDi, and it opened in RDi, but when I looked at it in SEU it was obvious there was an untranslatable character.

[2020-07-10 14:20] worksofliam commented on #80
Ah, ok. Thanks @richardm90!!

I am currently looking into methods of removing the odd characters when the member is being downloaded. Of course, this only happens with db2util enabled.

[2020-07-10 14:31] richardm90 opened #84 "Bug: editor closes when cancel button pressed on change change text panel"
Use tags for the following:

* IBM i version: 7.4
* System Linux 0.6.0

When I select the change text option on a source member a change text panel pops up.

If I then press the cancel button the editor closes.

Pressing OK works fine.

This problem doesn't exist in the Windows version.

[2020-07-10 14:37] richardm90 opened #85 "Feature: change source member type"
You can change the text on a source member but there's no option to change the source member type.

I recently copied a source file from the IFS to a source member. When doing this the source member created has a blank source member type and I then had to resort to use RDi to change it to RPGLE.

Possibly have an option of 'Properties' (on the right-click menu) against a source member that allows

[2020-07-10 14:41] worksofliam commented on #85
Yup, in fact we might make it a part of the rename window so it allows you to change the name and extension in a single function.

[2020-07-10 14:49] richardm90 opened #86 "Feature: source file shortcuts position cursor"
Within settings, when I go in to source file shortcuts and click the + Add a shortcut button could the cursor position in to the input field that opens up. Minor change but saves an extra click of the mouse.

This would also be a nice feature on the IFS shortcuts and library list panels.

As you have your hands on the keyboard to type in the source file shortcut it would also be handy to have a ke

[2020-07-10 15:03] richardm90 commented on #83
This gets my vote. It's great to have the option but whilst coding I'd prefer not to see the dates.

[2020-07-10 15:08] richardm90 commented on #84
just noticed the same happens when you press cancel on the rename member panel

[2020-07-10 15:10] AjaykulkarniIBMi commented on #73
forgive my ignorance, where can I find the fix? at the ILEEDITOR2 website, version # is 5.

[2020-07-10 15:25] AjaykulkarniIBMi commented on #73
This worked.
I have 2 questions
1) Is there a way we can have IntelliSense in this editor, autocomplete on opcodes, etc?

2) I added a static library as TEMP (Library name as AJAY). This is an existing library in IASP. I am getting this error
![image](https://user-images.githubusercontent.com/37787504/87170967-ab6b2f00-c297-11ea-957e-a2e9e347cb47.png)

[2020-07-10 19:43] richardm90 commented on #38
@worksofliam

I've been testing this on 0.6.1 and I am getting live errors and compile errors for a simple sqlrpgle source member.

One thing I am struggling with though is to incorporate my own custom compile commands. I have my own program that I use as a wrapper around the crt* commands. When I use my custom command to compile I see the compile errors, and the errors also appear in the source b

[2020-07-10 19:50] worksofliam commented on #38
@richardm90 about the custom compile commands:

The IDE will only look for an error listing if the compile command contains `*EVENTF` - we have no way if the errors were created otherwise.

Does that make sense?

[2020-07-10 20:39] connorholyday commented on #86
Yes this is a great idea, I was actually just thinking of this the other day

[2020-07-10 21:01] connorholyday commented on #84
Interesting, thanks for reporting

[2020-07-11 10:52] richardm90 opened #87 "Feature: command pallette recent commands"
Could the command pallette be made to remember recent commands?

There are a few commands I use regularly and each time I use the command pallette I have to rekey the text that filters to the command each time.

[2020-07-11 10:53] richardm90 opened #88 "Feature: comment out line"
I can't find a keyboard shortcut to comment out a line in RPG source.

Could this be added? Ideally Ctrl + /

[2020-07-11 11:13] richardm90 commented on #38
@worksofliam

Yes, that makes sense and I checked the crt* command that my custom command used and it was the same as the crt* command that worked in the IDE - and included *EVENTF.

[2020-07-11 20:21] connorholyday commented on #87
We'd have to explore how possible this would be. The command palette is a feature of the code editor package we're using and unfortunately from a quick search it seems this might be quite tricky to do. We can take a proper look though, thanks for the suggestion :)

[2020-07-11 20:25] connorholyday commented on #88
Yes good suggestion. It normally would be that shortcut (you can find it in the command palette) but because RPG support is a custom addition it looks like we'll have to figure out why this isn't working as expected

[2020-07-15 08:07] serininformatica opened #89 "Oops it looks like some of those details where incorrect (undefined)"
i have insert IP, USER e PASSWORD that are corrects, the ssh subsystem is up

[2020-07-15 09:22] connorholyday commented on #89
Thanks for reporting this, we'll investigate and get a fix out ASAP

[2020-07-15 12:27] worksofliam commented on #89
I've seen this too. I've found that when it's undefined it usually means that the user/pass combo is incorrect. We can look into it!

[2020-07-15 13:29] serininformatica commented on #89
mmmm the error is the same on every system (also pub400)

[2020-07-16 15:13] alexandrahrastnik commented on #89
gotta join the chat: I ran into the same behavior today with our local IBM i. SSH daemon was running and up.

[2020-07-16 21:49] worksofliam commented on #89
I put in a fix tonight so hopefully, it will have an effect!

[2020-07-16 22:09] worksofliam commented on #85
Implemented and awaiting release.

[2020-07-17 00:49] worksofliam commented on #73
@AjaykulkarniIBMi

Glad this fixed these up!

While we are working on something like content assist, please check out the other related issues to that.

About the library issue, we are working on providing some fixes for those kinds of issues for 0.7

Thanks!

[2020-07-17 00:49] #73 closed, assigned to connorholyday

[2020-07-17 01:15] worksofliam commented on #38
Okay, I have come to the decision that for the time being I am going to remove the Go-To Definition and Find All References feature. The reason we're doing this is that I can't get this feature to work consistently for all ILE language we're targetting.

The plan is to strip out the feature, get some other bits working, and then implement some more functional parsers to make it work even better.

[2020-07-17 06:52] richardm90 commented on #38
@liam-barry

OK, tough decision to make as online errors and definitions are two killer features but I understand the reasoning.

[2020-07-17 10:55] worksofliam commented on #38
@richardm90 Inline errors will actually be staying since that is not tied to the language (and also a great feature) - just the definitions and references part.

[2020-07-17 18:25] worksofliam commented on #53
@RandleBR

So in the error listing, are those the only incorrect lines?

I am now in the process of debugging, but just need to make sure it's only there and nowhere else :)

[2020-07-17 18:57] worksofliam commented on #79
This is done and will be available in the next release.

We also changed `live-error` to `compile` to make it more suiting.

[2020-07-17 21:09] RandleBR commented on #53
There are more that are incorrect.

Lines 151, 153 - 151 was not executed, 153 (ENDIF) was executed.
Line 168 - KeyHit Cabeq F05 - was not executed.

233 was not executed, 235 (ENDSL) was executed.
237 was executed. (Z-ADD after the ENDSL)

248 was not executed (line after the IFNE)
250 was executed (the ENDIF)

257 was not executed (line after the IFNE)
272 was executed (the ENDIF)

289 was not e

[2020-07-17 21:17] worksofliam commented on #53
@RandleBR

I am curious how much work this would be to setup on my IBM i. I am seeing the incorrect lines as you mention, but I am trying many things to recreate this issue from source. Let me know if you have any ideas.

[2020-07-17 21:19] worksofliam commented on #53
I just want to put this out there - is it possible the source is newer than the program object?

[2020-07-17 21:45] RandleBR commented on #53
I might be able to send you this program and everything to get it running.
I've used this as a sample program for showing fixed to free conversions.
Should be very easy to get running.  I can send you a SAVF?

On Fri, Jul 17, 2020 at 4:17 PM barry <notifications@github.com> wrote:

[2020-07-17 21:47] RandleBR commented on #53
No, the code hasn't changed.  I am pulling up the same cczip in RDi to
compare and the executed lines show up as expected there.

On Fri, Jul 17, 2020 at 4:19 PM barry <notifications@github.com> wrote:

[2020-07-17 21:52] worksofliam commented on #53
@RandleBR

I am also wondering if you can compile this source in RDi and run it through code coverage. I'd like to compare the results of this too!

[code]

[2020-07-17 22:40] #38 closed, assigned to worksofliam

[2020-07-18 00:46] RandleBR commented on #53
Sure, here is your sample program results and a SAVF of the GEN005 program.

[image: image.png]

On Fri, Jul 17, 2020 at 4:52 PM barry <notifications@github.com> wrote:

[2020-07-18 00:55] worksofliam commented on #53
@RandleBR

Replying to the GitHub email with attachments does not send them to us. Please email them to us directly.

Thanks!

[2020-07-21 00:33] ciaramejia3 opened #90 "Feature: A Record Feature"
**Is your feature request related to a problem? Please describe.**
Not a problem, however, an enhancement.

**Describe the solution you'd like**
 RDI had this feature that I would actually use quite frequently which allowed you to record a certain action, such as add a character + delete a character + return, which could then be used through out the file where ever the cursor is placed. Place curs

[2020-07-21 02:16] ciaramejia3 opened #91 "Bug: Error Message Line Off"
Use tags for the following:

* IBM i version: 7.2
* System (Windows or Mac OS): Mac

**Describe your issue:**
When I go over the record length, the error message gives for the wrong line number. I understand it is starting at 0, but just thought I'd point it out.
**Rough time of error occurred**:

**Please paste any screenshots below.**
<img width="1161" alt="Screen Shot 2020-07-20 at 9 02 28 PM"

[2020-07-21 15:25] worksofliam commented on #90
@ciaramejia3

Kind of sounds like you'd like the ability to store snippets of code and then insert them when needed?

[2020-07-21 15:30] #72 closed, assigned to nobody

[2020-07-21 15:30] worksofliam commented on #49
Released in 0.6.2.

[2020-07-21 15:30] #49 closed, assigned to connorholyday

[2020-07-21 15:30] worksofliam commented on #85
Released in 0.6.2. You can now change the name and type.

[2020-07-21 15:31] worksofliam commented on #79
Released in 0.6.2.

`live-error` is now `compile`, also. Docs have been updated.

[2020-07-21 15:31] #79 closed, assigned to worksofliam, connorholyday

[2020-07-21 15:31] #85 closed, assigned to worksofliam

[2020-07-21 15:31] worksofliam commented on #89
Fix it out.

Please give it a go!

Thanks

[2020-07-21 15:59] connorholyday commented on #90
In other text editors like vim for example, this is called "recording a macro". This is something we could look into. As far as I'm aware technically speaking it's recording key presses and then re-playing them - key commands might be an issue though

[2020-07-22 19:00] ciaramejia3 commented on #90
That is it! Thank you @connorholyday

[2020-07-23 06:58] serininformatica commented on #89
sorry but the trial is expired

[2020-07-23 17:20] ciaramejia3 opened #92 "Feature: Visual Aid for Fixed Format Code"
**Is your feature request related to a problem? Please describe.**
Hi guys! This would be an enhancement for fixed formatted code.

**Describe the solution you'd like**
 Something that has been requested by one of our developers is a way to define, through a visual aid, displayed in some kind way of brackets or lines beside the line numbers that showed you where an IF statement begins and ends. Th

[2020-07-29 08:11] richardm90 opened #93 "Feature: allow non-saved file"
I've often found it would be useful to have a new file that isn't saved.

Often I'll want to refer to a particular snippet of code and it would be useful to have that snippet in another tab (within ILEditor) but a tab that doesn't need to be saved as often once I've finished referring to that snippet I'd want to close the tab down and essentially ditch that snippet of code.

I would want language

[2020-07-29 09:39] connorholyday commented on #93
I like this idea, I find myself doing a similar thing when working with other editors.

For selecting the language: one option might be right-clicking on the tab and having an option to change language highlighting.

[2020-07-29 10:25] richardm90 commented on #93
In sublime and vscode you can select the syntax language on the lower status bar but you can also select it via the command pallette and that may be an easier option as the lower status bar is used for the compile feedback.

[2020-07-29 12:42] connorholyday commented on #93
We'll have a think about the best way to get this done :) above all we'll want it to be simple and ideally without you having to learn a new way of doing it. So following the footsteps of Sublime and VSCode is likely what we'll do.

[2020-07-29 13:03] worksofliam commented on #93
I think this would be relatively simple.

I think when the user decides to save an editor instance which is neither member/streamfile, we can ask them to enter a path (similar to how creating a new file works) which could be either IFS/member and then we change the type to either 'member' or 'streamfile', etc.

[2020-07-29 13:19] connorholyday commented on #93
Pretty much nailed it! Wrap up that feature with a neat little keyboard shortcut for a new file and we're golden

[2020-07-29 13:29] richardm90 commented on #93
I'm going to push my luck now!

Would it be possible to open the editor, create a new file (not saved) without a connection?

If you go to save the file you would have to connect.

[2020-07-29 13:30] worksofliam commented on #93
Haha - well that's an interesting one but I doubt it. We haven't really considered an offline version of the editor yet. Although if we actually release the RPGLE/COBOL LSP we're working on then I suppose local development wouldn't be a terrible idea

[2020-08-04 06:30] alexandrahrastnik commented on #89
I cheated a little and uninstalled ILEditor (and deleted its local cache files) to get another trial period (since I wasn't able to use the tool in the first one). I reinstalled it, downloaded the setup from your website and waited for it to auto-install any available updates.
Unfortunately it still yields the same error message when I try to connect to our local IBM i.

Version: 0.6.2 - is instal

[2020-08-04 06:31] alexandrahrastnik commented on #89
As I see, your last release was supposed to be v0.7 - did I get it correctly? That means my local ILEditor is not the current version. Seems like the auto-installer didn't grab v0.7 and instead installed v0.6.2

[2020-08-04 08:45] connorholyday commented on #89
If you're helping us investigate a bug and you haven't paid for a license then feel free to ping us for an extended trial. We might have gotten the labelling wrong here because I was under the impression we had shipped a fix for this in 0.6.2 (latest)

You've said your SSH is already up and running so that's perfect.
Are you running on Windows or MacOS?
Are you able to reach https://ileditorweb.he

[2020-08-04 09:13] alexandrahrastnik commented on #89
Thanks for the suggestion for an extended trial license. I reached out to your support email address.

Regarding your questions:
Indeed, the SSHD service is up and running
I use the Windows app (Windows 10 Version 1909)
I'm able to reach the web login form
I'm using a VPN to connect to my company network (currently working remote), and we got some tool called Checkpoint installed in our environmen

[2020-08-04 15:34] worksofliam opened #94 "Bug: Code coverage not loading in tab"
Use tags for the following:

* IBM i version: 7.4
* System (Windows or Mac OS): Mac OS

**Describe your issue:** Code coverage not loading in new tab
**Rough time of error occurred**:

**Please paste any screenshots below.**

[2020-08-04 17:00] connorholyday commented on #89
@patrickhrastnik thanks for the info! One other question from @worksofliam, have you tried SSH'ing into the IBM i yourself?

[2020-08-04 18:06] alexandrahrastnik commented on #89
Yes I did. I work almost daily via SSH on our system. And I tried to use the same credentials as well.
I don‘t know if it‘s relevant, but in my personal .profile I start a bash session. There‘s a .bashrc as well - It adds some value to $PATH and outputs a Welcome message.

[2020-08-04 21:06] RandleBR opened #95 "Line numbers > 1000 and source date not readable"
Noticed in source members > 1000 lines that the line number and source date column don't have enough space to render correctly.  Tried different screen resolutions but it didn't help.

![image](https://user-images.githubusercontent.com/2577433/89342812-f09d3980-d668-11ea-8940-6b15ed545724.png)

[2020-08-05 00:23] worksofliam commented on #95
Ha yes! Will be fixing this in 0.6.3. Gutter length is too short.

Liam

[2020-08-06 12:41] #75 closed, assigned to nobody

[2020-08-06 12:42] worksofliam commented on #89
@patrickhrastnik

Are you able to share some of your .profile with us?

Liam

[2020-08-06 12:53] alexandrahrastnik commented on #89
Of course @worksofliam

That's the content of ~/.profile

[code]

That's  ~/.bashrc

[code]

And that's ~/../defaults_for_all_profiles/.bashrc

[code]

[2020-08-18 18:59] worksofliam commented on #92
Cool idea. Might be possible with monaco. I will do some investigating.

[2020-08-18 19:06] #18 closed, assigned to connorholyday

[2020-08-19 21:38] worksofliam commented on #95
Released with 0.6.3

[2020-08-19 21:38] #95 closed, assigned to worksofliam

[2020-08-19 21:38] worksofliam commented on #94
Released with 0.6.3

[2020-08-19 21:38] #94 closed, assigned to worksofliam

[2020-08-19 21:38] worksofliam commented on #91
Released with 0.6.3

[2020-08-19 21:38] #91 closed, assigned to worksofliam

[2020-08-19 21:39] worksofliam commented on #89
Added better noticed in 0.6.3. Please check it out and let us know!

[2020-08-20 11:54] dkJohan commented on #80
Hi,
we have a similar problem with danish charcters in program names. Program names containing  Æ, Ø and Å in the name does not load. Using the same letters inside a program works though.

[2020-08-20 12:02] worksofliam commented on #80
@dkJohan Are you using db2util or not?

[2020-08-20 12:09] dkJohan commented on #80
We are not using db2util / Johan

[2020-08-20 12:19] connorholyday commented on #92
I think it's something to do with the language support, defining certain tokens will give these sections and also allow code folding

[2020-08-20 14:30] alexandrahrastnik commented on #89
The update manager installed v0.6.4 - seems like it skipped 0.6.3
And I still get the same error message when I try to login with valid credentials.

[2020-08-24 18:22] ciaramejia3 opened #96 "Feature: Edit Tool Bar Enhancement"
**Is your feature request related to a problem? Please describe.**
Something requested from some of the other programmers is an easy way to access the Keyboard Shortcuts list within the ILEditor.

**Describe the solution you'd like**
We have agreed that maybe this would be done best under 'Edit' located on the toolbar where there are some but not all listed such as command 's' and 'e' for save and

[2020-08-24 18:27] ciaramejia3 commented on #96
Oops. Looks like ticket #76 is already out there for this.

[2020-08-24 18:33] ciaramejia3 opened #97 "Feature: Fixed to Free Format"
**Is your feature request related to a problem? Please describe.**
I know that this is something that has been discussed in the past but I just wanted to create a support ticket for it!

Thanks!
**Describe the solution you'd like**
Highlight fix-format code and have the ability to transition it to free.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-08-26 09:18] connorholyday commented on #96
I think this one and #76 are complementary :)

We recently re-did some of the internals and it should make doing this much easier

[2020-09-02 09:48] DavidShears opened #98 "Feature: Code Coverage in dark mode - font/line colours"
**Is your feature request related to a problem? Please describe.**
When importing a cczip file from outside ileditor, if I'm in dark mode then the text and lines are both in a very light colour meaning I can't actually read it without highlighting the line. Example screenshots of a source member in light/dark mode.

**Describe the solution you'd like**
Ideally either the font colour, or background

[2020-09-02 11:53] worksofliam commented on #98
Interesting.

Thanks for sharing! I will look into this one :)

[2020-09-06 13:04] worksofliam commented on #89
@patrickhrastnik It still says `undefined` for you?

I am going to set up your bash config on my system and see if that has anything to do with it. I doubt it but worth a shot.

[2020-09-06 13:21] worksofliam commented on #98
@DavidShears

Fixed :) Will be available in 0.7... out sometime next week.

![image](https://user-images.githubusercontent.com/3708366/92326742-370cfc00-f04c-11ea-85ec-46081cca1802.png)
![image](https://user-images.githubusercontent.com/3708366/92326748-44c28180-f04c-11ea-9d46-1484b91e6616.png)

[2020-09-06 14:49] worksofliam commented on #88
This has been added! What an awesome feature.. was needing this recently myself.

Supports:

* CL
* RPGLE (+sqlrpgle) - only free format commenting, though (`//`)
* C
* CPP

We could also add much more, like COBOL, PHP, python, etc.

Will be available in 0.7 (sometime next week)

[2020-09-06 15:00] worksofliam commented on #97
Yes.. this needs to happen sooner or later. It's a matter of porting over the rpgfreeweb project to ILEditor 2.

Before that happens I need to take a look at the PRs on that project as there are a few now.

[2020-09-07 15:27] worksofliam commented on #12
@ciaramejia3

Wondering what the 'Format' button might actually do? Do you want it to fix all the indents and things like that?

[2020-09-07 15:29] worksofliam commented on #53
@RandleBR

Next steps here is to create a program similar to GEN005 (perhaps the same about of procedures, subroutines, etc) which we can then easily re-create on other boxes.

Any chance you want to take a stab at that, otherwise provide the info and let us give it a go?

[2020-09-07 15:30] ciaramejia3 commented on #12
Correct. Get all the spacing right. Indent it as it should be indented.

[2020-09-09 11:35] alexandrahrastnik commented on #89
indeed, it still stated `undefined` - same error message.
I'll have another look into it as soon as I get a new trial license, my previous one was only valid for August.

[2020-09-09 19:24] worksofliam commented on #89
@patrickhrastnik

Find it really weird that you're still getting undefined.

We've just added additional logging to help us find this issue.

When we release 0.7 (in the next few days?) we'll get you a new licence to test it some more!

[2020-09-10 20:10] chukShirley commented on #97
Sure would be nice! :)

[2020-09-11 08:35] connorholyday commented on #98
This should be all fixed up now!

[2020-09-11 08:35] #98 closed, assigned to worksofliam

[2020-09-11 08:37] connorholyday commented on #89
Hey @patrickhrastnik you should have a new trial key assigned to your account :) we've released 0.7.0

If this issue is still happening would you be able to take a screenshot for us? We've made some adjustments so we should all be getting some more information out of any errors happening here.

[2020-09-11 08:37] connorholyday commented on #88
Released!

[2020-09-11 08:37] #88 closed, assigned to worksofliam

[2020-09-11 08:43] alexandrahrastnik commented on #89
alright! I get a new error message.
Is there maybe some log file / stacktrace that I can provide you as well?

![image](https://user-images.githubusercontent.com/30524365/92895165-8b80f480-f41b-11ea-9a2d-83ccf11b9a31.png)

[2020-09-11 08:45] alexandrahrastnik commented on #89
btw, our system is configured with language German. I didn't mention that before. Maybe this could lead to some encoding issues - I don't know if the invalid characters only show up in the log message or could cause some other issues as well...

[2020-09-11 08:54] alexandrahrastnik commented on #89
It just dawned on me that you might not be able to read a German error message. It says

[2020-09-11 09:02] alexandrahrastnik commented on #89
We've had issues with comments in sql statements in the past. Maybe that's the issue here. I'd suggest to move comments outside the actual statement, if possible... just spitballing ideas

[2020-09-16 10:38] KlausPeterLuttkus opened #99 "Bug: Member browser, source mebers not displayed properly"
Use tags for the following:

* IBM i version
V7R4 TR2
* System (Windows or Mac OS)
Windows 10

**Describe your issue:**
I inserted new entry in Member browser setup. Record length of source file is 240 ccsid 1141
Names of source members is not displayed properly. See attachment.

**Rough time of error occurred**:
16.09.2020 12:00

**Please paste any screenshots below.**
![memberbrowser_2020_09_16]

[2020-09-16 17:55] ciaramejia3 opened #100 "Feature: Name the Different IP Addresses"
**Is your feature request related to a problem? Please describe.**
This would be a useful feature to have.

**Describe the solution you'd like**
We have multiple connections and it would be nice to be able to have the option to rename the IP address to something more meaningful, like our system's name.

**Additional context**
<img width="232" alt="Screen Shot 2020-09-16 at 12 54 29 PM" src="https:

[2020-09-17 09:02] connorholyday commented on #100
We could add an optional "Name" field perhaps?

[2020-09-17 13:29] ciaramejia3 commented on #100
Sure! That would be nice!

[2020-09-17 15:12] worksofliam commented on #99
Hi @KlausPeterLuttkus

Thanks for raising this issue!

Would you mind running this from the pase environment? Ensure the `FILE` parameter matches the source file you're trying to look at.

[code]

[2020-09-17 15:22] worksofliam commented on #89
@patrickhrastnik

Odd.. we aren't actually running any SQL on login.

Any chance you can run `db2util -v` from an SSH session?

[2020-09-18 05:08] alexandrahrastnik commented on #89
@worksofliam odd... I get the same error message
Version is 1.0.7-beta
I'll look for updates for `db2util` today and come back later

[code]

[2020-09-18 06:06] alexandrahrastnik commented on #89
I don't know what happened on our system before today, but the previous version of `db2util` was not installed via yum (according to what yum knew).
After some investigation I decided to just reinstall it via yum - seems like that was a mistake.
yum says `db2util@1.0.9` is installed - I'm now able to successfully run `db2util -v`, and it yields

So I'm one step closer to success...
![image](https:

[2020-09-18 07:52] KlausPeterLuttkus commented on #99
Hi Barry,

this is the output of

$ system "DSPFD FILE(EPS007/QRPG202004) TYPE(*MBRLIST) OUTPUT(*PRINT)"

5770SS1 V7R4M0  190621               Dateibeschreibung anzeigen                                                                                                                                                              18.09.20   9:48:43    Seite      1
   Datei . . . . . . . . . . . : QRPG2

[2020-09-22 11:57] dkJohan opened #101 "Using special characters (e.g. Æ Ø and Å) in the programme name prevents the program from loading."
Opening this as a separat bug, due to ILEditor 2 **not used with db2util**.

<img width="171" alt="LØN060 rpgle" src="https://user-images.githubusercontent.com/36447157/93878742-daac0c80-fcda-11ea-9da7-540a43180e0f.png">

Program name is LØN060.RPGLE

[2020-09-22 11:58] worksofliam commented on #101
Hi @dkJohan

What is your encoding/CCSID being used?

Liam

[2020-09-22 13:21] dkJohan commented on #101
I'ts 277

[2020-09-23 10:13] connorholyday commented on #100
We've just released 0.7.1 with this feature :) let me know if you have any feedback!

[2020-09-23 10:13] #100 closed, assigned to connorholyday

[2020-09-23 10:14] #70 closed, assigned to connorholyday

[2020-09-29 09:58] benetti-marco opened #102 "Bug: I can't load the list of members from a source file"
Use tags for the following:

* IBM i version 7.2
* System Windows 10
* ILEditor Version: 0.7.1
* db2util 1.0.10-1

**Describe your issue:**
ILEditor2 doesn't load the list of members from a source file, without any error messages.
The source file ccsid is 280.
usrprf
LANGID         *SYSVAL
CNTRYID        *SYSVAL
CCSID          1144

wrksysval
QCCSID 65535
QCNTRYID IT
QLANGID ITA
QCHRID 697-280

Th

[2020-09-29 19:19] worksofliam commented on #102
Hey @benetti-smeup

Would you mind sharing what you see? Do you just see 'Loading' and then it goes away?

Liam

[2020-09-30 06:50] benetti-marco commented on #102
Yes, i just see loading and nothing happens.
![ileditor1](https://user-images.githubusercontent.com/33417433/94652223-f4aca700-02f9-11eb-9c1a-85b56e932ccf.png)
![ileditor2](https://user-images.githubusercontent.com/33417433/94652236-f8d8c480-02f9-11eb-931c-26d70cb6fc9a.png)

[2020-09-30 09:44] AjaykulkarniIBMi opened #103 "Adjust font size"
Hello, how do I increase the font size?

[2020-09-30 09:53] AjaykulkarniIBMi opened #104 "Bug: Source code not saving into source file."
Use tags for the following:

* IBM I version 7.4
* System: MACOS

I have set up the ASP as per the documentation.
When I key in source and save it, it is not saving.

Can this be fixed as soon as possible, please? I need to write a program today. This tool would have been a great tool to show my boss how quickly can we use such a tool.

![image](https://user-images.githubusercontent.com/37787504/9

[2020-09-30 13:53] worksofliam commented on #104
@AjaykulkarniIBMi

Please share with us how you have your ASP setup in the shortcuts settings? Thanks!

Also - do you get a member list?

[2020-09-30 14:15] AjaykulkarniIBMi commented on #104
I do get member list, I am able to create a new member, however, whatever I do in the member it doesn't save.
Please help, i am supposed to showcase this tool to my boss today afternoon.

![image](https://user-images.githubusercontent.com/37787504/94697110-6c300580-02fd-11eb-914e-3e222d7cb102.png)

[2020-09-30 14:27] AjaykulkarniIBMi commented on #104
Liam - Observation
1) Command + S is saving the second time (what I mean by second time is if I create a new member and key in the source then nothing is saving, however, if I go a second time and key in source and save using command +S, it is working)

2_ Close and then SAVE it not working.

[2020-09-30 14:29] AjaykulkarniIBMi commented on #103
Can somebody help me with this?
This is more of how to question?
How do I increase the font size of the source?

[2020-09-30 14:41] AjaykulkarniIBMi opened #105 "Feature: auto completions / snippets"
**Need to autocomplete**

I was hoping that if we key in  IF we get ENDIF automatically,
same with DO, BEGSR, CASE, SELECT, etc

[2020-09-30 14:43] AjaykulkarniIBMi opened #106 "Colour blind support"
**SYNTAX HIGHLIGHT**
Is there a syntax highlight available? If yes, maybe I am color blind to see that. Can you make the color of the color blind friendly?

[2020-09-30 16:48] worksofliam commented on #103
If you're on Mac, you can use Ctrl +/- to change the page size.

Font size changing isn't something we've thought of before!

[2020-09-30 16:51] AjaykulkarniIBMi opened #107 "Bug: Unable to open copy books."
Use tags for the following:

* IBM i version : **7.4**
* System (Windows or Mac OS) **MAC OS**

The library list is setup in SETTINGs. The copybook is in the library JDFSRC. However, ILEEDITOR 2 is not able to find it.

![image](https://user-images.githubusercontent.com/37787504/94715490-2847fb00-0313-11eb-85ff-1111629246be.png)
![image](https://user-images.githubusercontent.com/37787504/94715570-

[2020-09-30 16:52] worksofliam commented on #104
@AjaykulkarniIBMi Thanks for raising this issue.

This is something that I will be looking into over the next few days, but likely to have a fix out over the weekend.

Liam

[2020-09-30 16:53] AjaykulkarniIBMi commented on #107
It is not able to add the libraries listed in the Library list

![image](https://user-images.githubusercontent.com/37787504/94715812-9987ae00-0313-11eb-8413-8fb56f7912f1.png)

[2020-09-30 16:55] worksofliam commented on #107
@AjaykulkarniIBMi

Looks like that library list is setup incorrectly? You're only supposed to specify the library name - not a path.

[2020-09-30 17:16] AjaykulkarniIBMi commented on #103
If you can make that as part of enhancement it would be great.
Font Size and Font type would be great, especially for people like me who have impaired vision

[2020-09-30 17:18] AjaykulkarniIBMi commented on #107
I fixed that, still unable to compile, it is not finding the copybook.

![image](https://user-images.githubusercontent.com/37787504/94718126-e3be5e80-0316-11eb-8f19-8b2c97e025c6.png)

![image](https://user-images.githubusercontent.com/37787504/94718186-02bcf080-0317-11eb-97cb-e924541d091f.png)

[2020-09-30 18:34] AjaykulkarniIBMi commented on #107
I closed my connection and reopened a new connection with the library list.
I was able to compile.

Thanks

[2020-09-30 18:35] #107 closed, assigned to nobody

[2020-09-30 18:35] AjaykulkarniIBMi commented on #107
I closed my connection and reopened a new connection with the library list.
I was able to compile.

Thanks

[2020-10-01 09:01] connorholyday commented on #103
It's something that'll be included when we add in custom themes

[2020-10-01 09:03] connorholyday commented on #106
Yes we certainly can, we'll be improving the custom visual options that'll give you more control over this

[2020-10-01 11:36] AjaykulkarniIBMi commented on #106
Awesome, Is this something that may be available soon?
I am ready to be your first user to use this.

[2020-10-01 14:29] connorholyday commented on #106
Theming is definitely coming up soon yes, you'll be able to follow our updates on twitter here: https://twitter.com/ileditor2

When this feature is live you'll be able to find it in the settings panel

[2020-10-01 15:51] AjaykulkarniIBMi opened #108 "Bug: Go to definition is not working."
Use tags for the following:

* IBM i version 7.4
* System (Windows or Mac OS) MAC Catalina

when I take an F12 on a field it is not taking back to the definition.

[2020-10-01 15:52] AjaykulkarniIBMi opened #109 "Bug: Split tab not working"
Use tags for the following:

* IBM i version 7.4
* System (Windows or Mac OS) MAC Catalina

COMMAND + B is not splitting the tab.

[2020-10-01 16:00] AjaykulkarniIBMi opened #110 "Feature: Tab on field suggestion"
I am using ILEEDITOR 2 for programing within an ERP system that following a naming convention for field names. Example: all field names in one table that has 200 columns start with SDMA .
So when I key in SDMA within the editor i see a big drop-down box and I have to scroll down.

Possible solution
I was using SUBLIME text to write my RPGLE until now. Within the sublime text, there was a tab featu

[2020-10-02 08:59] connorholyday commented on #109
Command + B should be hiding and showing the sidebar, we don't have a shortcut for splitting tabs at the moment but that's definitely something we can add

[2020-10-02 10:58] worksofliam commented on #108
@AjaykulkarniIBMi Please read these docs: https://ileditor.dev/docs/live-errors

[2020-10-02 11:16] AjaykulkarniIBMi commented on #108
This is awesome, however, as I am color blind I don't see which line it errored.
you need to make it COLOR blind friendly. (need to include every programmer)

[2020-10-02 11:17] AjaykulkarniIBMi commented on #108
Or maybe put an "arrow" or something more visual next to live error line#

[2020-10-02 11:21] AjaykulkarniIBMi opened #111 "Feature: Distraction free"
The UI is cool, however, can we remove some of the clutter on the UI. Even after going full screen & hiding the left menu.
Need something like what sublime text has "DISTRACTION free" programming.

[2020-10-05 09:05] connorholyday commented on #108
This sounds like something we can open up in our theming update :) that way everybody can adjust the editor to fit their individual needs and also hopefully share their setup with other people

[2020-10-05 09:05] #108 closed, assigned to nobody

[2020-10-05 09:06] connorholyday commented on #111
This is something we can look into, for sure

[2020-10-05 20:53] #109 closed, assigned to nobody

[2020-10-13 19:07] worksofliam commented on #104
Hi @AjaykulkarniIBMi

Looks like when we were creating the new file from the member browser, it wasn't passing the ASP along with it.

Will ship this soon.

[2020-10-13 19:17] worksofliam commented on #101
@dkJohan Is your system QCCSID 277?

[2020-10-13 19:18] worksofliam commented on #102
@benetti-smeup Can you run this in pase and paste what comes out?

`system "DSPFD FILE(LIB/SOURCEFILE) TYPE(*MBRLIST) OUTPUT(*PRINT)"`

[2020-10-13 19:20] worksofliam commented on #89
Hey @patrickhrastnik

How are you getting along with this?

We're going to close this issue now, but if there is anything I can do to help please let me know.

Liam

[2020-10-13 19:22] #89 closed, assigned to worksofliam

[2020-10-13 19:30] alexandrahrastnik commented on #89
Hey @worksofliam
Thanks for checking in
We were able to update the necessary package, and ILEditor 2 runs as desired.
So it's totally perfect to close the issue
Thanks for helping solving the problem

[2020-10-13 20:21] benetti-marco commented on #102
Here we are!
[dspfd.txt](https://github.com/halcyon-tech/ileditor2-issues/files/5373888/dspfd.txt)

[2020-10-14 05:58] dkJohan commented on #101
@worksofliam Yes it is

[2020-10-22 14:52] jonii-dev commented on #46
I am very excited about this as well! Would be nice to have a reasonable RPG IDE on Linux :)

[2020-10-23 10:13] connorholyday commented on #46
We've got a couple of things to fixup before we add it to the website as an official link, but you can get the Linux version in the latest release section over here https://github.com/halcyon-tech/ileditor2-issues/releases/tag/v0.6.1

I think we've published a few updates since then so you'll have to give it a moment to download the latest update :) we have another update coming out very soon

[2020-11-06 16:46] worksofliam commented on #104
Out in 0.7.2.

Please reopen if this continues to occur. Thanks!

[2020-11-06 16:48] worksofliam commented on #102
@benetti-smeup

Sorry for this late reply. Looks like a language issue! I will look into this.. since right now we only support english.

We should get something out this weekend.

[2020-11-06 16:49] worksofliam commented on #99
Same as #102 ... is a language issue. Will put a fix out soon!

Liam

[2020-11-06 22:26] AjaykulkarniIBMi opened #112 "Bug: Same issue as 104"
104 not fixed, still getting the same issue. I downloaded the updates

https://github.com/halcyon-tech/ileditor2-issues/issues/104

[2020-11-07 02:57] worksofliam commented on #112
Please do not open up new issues. Please reopen the previous issue. I will do that now.

[2020-11-07 02:57] #112 closed, assigned to nobody

[2020-11-07 02:58] worksofliam commented on #104
Apparently the issue was not fixed.

@AjaykulkarniIBMi please provide the specific steps to recreate this. Thanks!

[2020-11-07 02:58] worksofliam commented on #99
We made a release this late afternoon.

Please retest and let us know. Thanks!

[2020-11-07 02:59] worksofliam commented on #102
We made a fix for this issue and was released late today.

Please take a look for me and let me know if it is still occurring,

Thanks!

[2020-11-07 03:36] AjaykulkarniIBMi commented on #104
1) I click on the source file
2) Right-click to create a new member
3) I key in some lines of code and SAVE it
4) the File is not saved, it has only one * in it.

[2020-11-10 18:55] worksofliam commented on #104
@AjaykulkarniIBMi

Have been looking into this... how do you have the source file set up in the source file shortcuts?

Also to be safe see ASP support on this page: https://ileditor.dev/docs/editing-members

[2020-11-13 16:24] benetti-marco commented on #102
Hi Barry!
Thanks for your feedback.
Now I can properly browse the members' list, but I can't open members with characters "£" in the member's name.
With Italian settings we have "£" instead of "#" and "§" instead of "@" in the members' names.
I opened successfully members without these char in the name but with "£" and "§" in the content.
I attach a picture as reference.

![Ileditor2](https://user

[2020-11-19 11:36] AjaykulkarniIBMi opened #113 "Bug: Getting an error when save operation is performed"
Use tags for the following:

* IBM i version 7.3
* System (Windows or Mac OS) MACOS

**I am getting this error when I hit COMMAND + S, out of habit I hit COMMAND + S many times.**
![image](https://user-images.githubusercontent.com/37787504/99661230-281dcf00-2a29-11eb-9640-e2e33dc67dd6.png)

[2020-11-19 11:37] AjaykulkarniIBMi commented on #110
Hello, are you considering providing this feature?

[2020-11-19 11:38] AjaykulkarniIBMi commented on #106
Hello Connor, do you have a timeline for this?

[2020-11-19 16:10] AjaykulkarniIBMi opened #114 "Bug: Compile errors not showing"
* IBM i version 7.3
* System (Windows or Mac OS) MACOS

I am not seeing the compile errors (Sev 30 errors)

![image](https://user-images.githubusercontent.com/37787504/99691904-53b3b000-2a4f-11eb-8828-6a7ff1e330fa.png)

My compile setting
  "SQLRPGLE": {
        "QSYS": {
            "CRTSQLRPGI": "CRTSQLRPGI OBJ(&OPENLIB/&OPENMBR) SRCFILE(&OPENLIB/&OPENSPF) COMMIT(*NONE) OPTION(*EVENTF *XREF) RPG

[2020-11-19 16:42] AjaykulkarniIBMi opened #115 "Bug: Getting authority error when compiling using ILEEDITOR2"
Use tags for the following:

* IBM i version 7.3
* System (Windows or Mac OS) MAC OS

I am using the same user id to compile using Green scree and compile is working
However, I am getting below error when compiling via ILEEDITOR2

![image](https://user-images.githubusercontent.com/37787504/99696048-dfc7d680-2a53-11eb-9062-bd34bdb90884.png)

[2020-11-19 17:59] connorholyday commented on #110
Hey I'm not entirely sure what you're describing. I know at the moment if you type something like your "SDMA" then you should get a big dropdown box appear with all of the possibilities. You can then continue typing and this will filter down the options in the dropdown box - or you can use your arrow keys to scroll through the options.

Is your issue that you'd prefer to use the tab key rather tha

[2020-11-19 18:00] connorholyday commented on #106
I'm actually working on theme support right now so hopefully not too much longer

[2020-11-19 18:28] AjaykulkarniIBMi commented on #110
I am getting the drop-down box, I was wondering if you can make the experience the same as SUBLIME text.
In the sublime text, you can just hit TAB and it will cycle through all the occurrence of the text.
So say you have 100 fields and all start with SD, in sublime text, when you hit SD and hit tab you can cycle through all the fields that start with SD, instead of a drop-down box.

[2020-11-19 18:29] AjaykulkarniIBMi commented on #115
This was my mistake. therefore closing...

[2020-11-19 18:29] #115 closed, assigned to nobody

[2020-11-19 18:29] AjaykulkarniIBMi commented on #115
This was my mistake. therefore closing...

[2020-11-19 20:08] connorholyday commented on #106
Hey @AjaykulkarniIBMi we've got theme support for the code editor that'll be released on Friday, it will give you access to all of these themes: https://editor.bitwiser.in/

Are any of them appropriate for colour blindness?

This isn't the end of the "theme support feature", we'll be improving this further by allowing you to have a wider selection and apply your own custom styling. We'll also be p

[2020-11-19 20:12] worksofliam commented on #113
I see.. looks like we should be able to solve this!

Basically, you're triggering the save multiple times by the sound of it.

[2020-11-19 21:02] AjaykulkarniIBMi commented on #106
High contrast dark
Brilliance BLACK
Tomorrow night brigt

[2020-11-20 12:02] connorholyday commented on #110
Right okay I understand. This looks to be a limitation of the code editor we're using under the hood in that I can't see how we could configure this to be an option. Sorry for any inconvenience caused but unfortunately I don't think we can get this one done. Thank you for the feature suggestion though, they're always appreciated!

[2020-11-20 12:02] #110 closed, assigned to nobody

[2020-11-20 14:30] worksofliam commented on #114
Hey @AjaykulkarniIBMi

What happens if you try and compile into another library other than `AJAY`?

Thanks!

[2020-11-20 14:43] worksofliam commented on #102
Hey @benetti-smeup

Are you able to run this from an SSH shell and paste the result here:

`ls /QSYS.lib/W_BENMAR.lib/SRC.file/`

Thanks!

[2020-11-20 15:00] benetti-marco commented on #102
![ileeditor2_2020-11-20](https://user-images.githubusercontent.com/33417433/99814607-7b873e80-2b49-11eb-9382-49258a7ea19b.png)
Thanks!

[2020-11-20 15:36] worksofliam commented on #102
@benetti-smeup as you can probably see... the LS is giving us different names. We're going to spend some time trying to figure out the translation of names and get back to you.

Thanks!

[2020-11-20 19:37] AjaykulkarniIBMi commented on #106
The blocking around IF is looking too busy (CONTRAST theme)
![image](https://user-images.githubusercontent.com/37787504/99842480-859f4200-2b35-11eb-904c-bb55e0e8ded4.png)

[2020-11-20 19:42] AjaykulkarniIBMi opened #116 "Bug: Convert Free format not working"
Use tags for the following:

* IBM i version 7.3
* System (Windows or Mac OS) MAC

Free-format converts not working for the block selected. It works when you just select individual lines.

![image](https://user-images.githubusercontent.com/37787504/99842811-21c94900-2b36-11eb-9c4a-2f9eb26e33cc.png)

[2020-11-21 19:46] connorholyday commented on #106
Afraid we don't have any control over these themes, they're all third party for the time being. Fully custom theme support will be coming in the future :)

[2020-11-21 19:46] #106 closed, assigned to connorholyday

[2020-11-21 19:47] connorholyday commented on #113
We now have an alert in place that lets you know if the file is currently being saved!

[2020-11-21 19:47] #113 closed, assigned to worksofliam, connorholyday

[2020-11-21 23:01] AjaykulkarniIBMi opened #117 "Feature: can we turn off this?"
Is there a way we can turn this off?
![image](https://user-images.githubusercontent.com/37787504/99889466-359aab00-2c1b-11eb-92ca-3d23f7f2a9aa.png)

[2020-11-22 14:44] AjaykulkarniIBMi commented on #117
This is very annoying guys, the editor looks to have too much of junk lines. I need a way to turn this OFF or else i cant use the editor..
![image](https://user-images.githubusercontent.com/37787504/99906819-d54d4d00-2c9e-11eb-885b-e003c4bdd01d.png)

[2020-11-23 10:16] connorholyday commented on #117
Yeah we should be able to provide a toggle for this, I'll look into it

[2020-11-23 12:59] AjaykulkarniIBMi commented on #117
That is good news. Is this something we can do sooner?
I am supposed to write 12 programs this week. It would be great to have this sooner.

[2020-11-23 14:26] connorholyday commented on #117
I'll bump it to the top of my list and see what I can do 😉

[2020-11-23 14:46] DavidShears opened #118 "Feature: Free format conversion to check record length"
**Is your feature request related to a problem? Please describe.**
When using the "convert to free-format RPG" option the record length of the source member isn't being taken into consideration.

So, for example, I'm using a source file created via: CRTSRCPF SHEARSD/AUDITSRC 112 so I have a maximum record length of 100 characters.

If I try to convert the following eval statement into free-format

[2020-11-23 16:09] AjaykulkarniIBMi opened #119 "Hide commented code from content assist"
Use tags for the following:

* IBM i version 7.4
* System (Windows or Mac OS) MAC OS

When i am keying in code and say the field name is **OrderNumber**, and i have also comments in the program like "
When the Order is entered the ordering pattern can be in any Orderdate and needs to be ordered before December the other Orders"

So if you see, when i key in Order, in the drop down box i am getting

[2020-11-23 16:47] worksofliam commented on #119
This isn't a bug as is the intended functionality of Monaco. I will change the tag and perhaps this is something we can work on alongside the LSPs for COBOL and RPGLE.

[2020-11-23 16:52] worksofliam commented on #117
It's tied to indentation size, which I believe by default is two. From the images you've provided @AjaykulkarniIBMi, it looks like you're using 3.

We likely need to make this configurable as I don't think Monaco provides a way to turn off indentation markers.

@connorholyday: https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandaloneeditorconstructionoptions.html#tabsize

[2020-11-23 16:53] worksofliam commented on #118
Hey David. This is an awesome idea.

I can look into this!

[2020-11-23 16:54] worksofliam commented on #116
@AjaykulkarniIBMi Please paste that snippet here.

I am aware that the project, rpgfreeweb, cannot handle everything (like your MOVE and MOVEL statements) but I am happy to take a look.

[2020-11-23 17:32] AjaykulkarniIBMi commented on #117
Not sure how indentation is linked with all these lines appearing in SQL.

![image](https://user-images.githubusercontent.com/37787504/99995045-7f040b00-2d7f-11eb-898b-dad61bf56110.png)

[2020-11-23 18:46] connorholyday commented on #117
Those lines are indentation indicators, they visually show your indentation in the file.

Update released! Option up the settings panel, go to theme settings, then scroll down and uncheck "Render indent guides"

[2020-11-23 18:46] #117 closed, assigned to connorholyday

[2020-11-24 03:09] worksofliam commented on #102
@benetti-smeup By any chance do you get any error messages show up? I am wondering if you get a little red box with a CPF error code in it?

This may be an issue due to `QCCSID` of `65535`... although I doubt it

[2020-11-24 20:30] worksofliam commented on #12
I am thinking about working on something to fix the indentation soon. I am seeing how useful it'd be.

It'd only work for free format RPGLE though - although I'd like to have it work for CL, COBOL and C too.

[2020-11-24 20:32] worksofliam commented on #34
This is the same as #86 so I am going to close for now.

[2020-11-24 20:33] worksofliam commented on #39
@connorholyday what is the plan here?

We could either:

* Allow the user to open the JSON in a new table
* Perhaps we could allow the user to make the settings modal full screen or something?

[2020-11-24 20:34] worksofliam commented on #46
@connorholyday are we doing Linux builds every time we make a release now?

Is this issue still needed?

Perhaps we need to add a Linux button to the platform and the website?

[2020-11-24 23:27] #34 closed, assigned to nobody

[2020-11-24 23:27] worksofliam commented on #39
I've just put a change in to make the settings no longer a modal, but instead a fullscreen window.. the compile settings are much nicer.

[2020-11-25 09:54] connorholyday commented on #46
We need to add a linux button and I think the linux version is missing the app icon

[2021-01-07 08:21] benetti-marco commented on #102
No, i get no message.

[2021-01-22 15:05] ciaramejia3 opened #120 "Bug: Source File Shortcuts are not saving"
Use tags for the following:

* IBM i version
* System (Windows or Mac OS)

**Describe your issue:**
Every-time I change my source file shortcuts, it will not save. I have to close out and reopen ILEditor.

**Rough time of error occurred**:
Since the last update

**Please paste any screenshots below.**

[2021-01-22 19:20] worksofliam commented on #120
Do you mean it does not update in the panel after you change them? Does it show after you click the refresh icon before restarting?

[2021-01-22 19:20] worksofliam opened #121 "Bug: extensions having wrong title"
![image](https://user-images.githubusercontent.com/3708366/105535582-05c06000-5cbd-11eb-8284-80eb9e8d4b0a.png)

[2021-01-22 19:25] #116 closed, assigned to worksofliam

[2021-01-22 19:25] #114 closed, assigned to nobody

[2021-01-22 19:27] worksofliam commented on #105
This can be achieved with Monaco snippets.

[2021-01-22 19:28] worksofliam commented on #104
@AjaykulkarniIBMi Please post an update. Until then, this will be masked as inactive.

[2021-01-22 19:28] #104 closed, assigned to worksofliam

[2021-01-22 19:30] worksofliam commented on #102
@benetti-smeup Were you ever able to get your QCCSID changed?

[2021-01-22 19:31] #99 closed, assigned to worksofliam

[2021-01-22 19:31] worksofliam commented on #97
Release. Constant improvement will come with releases.

[2021-01-22 19:31] #97 closed, assigned to nobody

[2021-01-22 19:41] worksofliam commented on #83
I will add the code to the editor and then I will look into adding it into the settings.

[2021-01-22 19:41] worksofliam commented on #81
I think a window where two paths can be entered, and then a Monaco diff view shows up could be super neat.

[2021-01-22 19:44] worksofliam commented on #53
Stale as no-reply.

[2021-01-22 19:44] #53 closed, assigned to worksofliam

[2021-01-22 19:48] worksofliam commented on #48
We're going to make it so when the compilation is successful, then you will still be able to click it and see the command again.

[2021-01-22 19:48] #39 closed, assigned to nobody

[2021-01-25 18:58] ciaramejia3 commented on #120
Correct. It won't update. I hit the refresh and it continues to show. I will logout and log back in and it will continue to show the outdated version. I have to completely close and reopen ILEditor.

[2021-01-26 08:51] dkJohan opened #122 "Bug: Filter is gone"
With the new version filtering the member browser has gone.

![image](https://user-images.githubusercontent.com/36447157/105821860-9ba90300-5fbb-11eb-9deb-b501bf7b2481.png)

[2021-01-26 10:29] connorholyday commented on #122
Yes I'm afraid this is intentional, the code behind the filter was causing more problems than it was worth so we've had to remove it for now while it gets reworked

[2021-01-26 11:05] dkJohan commented on #122
Then I'll look forward to it being back. 😊

Med venlig hilsen/best regards

Johan Petersen

[cid:image001.png@01D6F3DB.53901FF0]
ktp Data A/S
Sønderskovvej 7, 8520 Lystrup
Kontor
tlf. 8622  5433

Direkte
tlf. 87 400 299

Der tages forbehold mod udsolgte varer og prisstigninger på vore underleverandørers produkter.
For tilbud er "Salgs- og leveringsbetingelser for ktp Data A/S" gældende.
ktp data a

[2021-01-27 14:06] #122 closed, assigned to nobody

[2021-01-30 16:05] worksofliam commented on #120
@ciaramejia3

Any way of you recording a video to show us this issue? I am trying to recreate it but not having much luck.

[2021-01-30 20:16] worksofliam commented on #93
@richardm90 Sorry this has taken so long.

I just got started on the ability to use Command/Cntrl(+Shift)+N to create new members or streamfiles.

Here's a little clip. This should be available in 0.7.7.

https://user-images.githubusercontent.com/3708366/106367071-22d4de80-630e-11eb-9eb9-5282955c1c71.mov

[2021-01-31 04:28] worksofliam commented on #52
Done

[2021-01-31 04:28] #52 closed, assigned to nobody

[2021-01-31 16:21] worksofliam commented on #48
Out in 0.7.7.

![image](https://user-images.githubusercontent.com/3708366/106390426-713db800-63b6-11eb-8e38-2576d211f639.png)

[2021-01-31 16:26] worksofliam commented on #105
Snippets will be available in 0.7.7. We will provide the default suggestions/snippets as requests, but you can also add your own.

![image](https://user-images.githubusercontent.com/3708366/106390601-1eb0cb80-63b7-11eb-87a4-17d639b84f21.png)

![image](https://user-images.githubusercontent.com/3708366/106390604-240e1600-63b7-11eb-84fd-b7aa3a13393d.png)

[2021-01-31 17:49] richardm90 commented on #46
What is the latest Linux build?

I currently have 0.7.5 installed.

[2021-01-31 17:51] richardm90 commented on #93
looking good

[2021-01-31 17:53] connorholyday commented on #46
I think 0.7.6

[2021-01-31 17:54] richardm90 commented on #46
How do I get the latest version?

[2021-01-31 17:59] connorholyday commented on #46
I think we've got "Check for updates" under the menu, if not you should be able to close and re-open the app and that will trigger an update check

[2021-01-31 18:05] richardm90 commented on #46
I've never been able to get the check for updates to work under Linux. In the past I've always needed a link to the github release assets.

[2021-01-31 18:38] connorholyday commented on #46
Seems like our updater is broken 🤔 looking into this

[2021-02-01 18:44] ciaramejia3 commented on #120
Yes! Sent you the recording through Slack. Sorry for the lack of audio but you'll get the idea.

[2021-02-01 21:08] worksofliam commented on #120
Looked into and resolved.

Will close.

[2021-02-01 21:08] #120 closed, assigned to nobody

[2021-02-06 21:46] connorholyday commented on #46
We've fixed the auto updater and the linux version links are now on the website! The latest version is 0.8 and you'll have to download it manually this time but then it should be business as usual moving forward :)

[2021-02-06 21:46] #46 closed, assigned to worksofliam, connorholyday

[2021-02-10 09:05] richardm90 opened #123 "Bug: Auto Update from 0.8.0 to 0.8.1 not working on Linux"
IBM i version: V7R4
System: Linux

I've currently got the Linux version of 0.8.0 installed on Linux Mate 20.1. The auto update feature isn't detecting that 0.8.1 has been released. I've also tried the check for updates option from the about menu and nothing appears to happen.

[2021-02-10 13:54] worksofliam commented on #123
Weird! I can confirm that it worked on my mac last night.

Will keep you posted.

[2021-02-10 13:55] worksofliam commented on #121
Fixed by Connor :)

[2021-02-10 13:55] #121 closed, assigned to nobody

[2021-02-10 13:55] #93 closed, assigned to worksofliam

[2021-02-10 13:55] #105 closed, assigned to worksofliam

[2021-02-10 13:55] #48 closed, assigned to connorholyday

[2021-02-10 13:57] richardm90 commented on #123
I've never seen the auto update to work on Linux so I don't think this is a recent thing. I've always manually downloaded the latest .deb file and installed that.

[2021-02-16 21:27] worksofliam opened #124 "Feature: Show disabled plugins"
When a user logs into a system and a plugin cannot be used due to missing dependency (like db2util), then:

* The plugin should not dissapear
* When the plugin is clicked on, a message should be displayed showing what is required to be installed on their IBM i

[2021-02-22 14:38] worksofliam opened #125 "Feature: CL prompting with the use of snippets."
CL prompting is a real PITA. Might be worth creating a ton of snippets for CL commands with the user entry in the right places.

[2021-02-22 22:17] chukShirley opened #126 "Bug: Syntax Highlighting and Column 1-5 Comments"
System: Mac OS

When placing comments on columns 1-5, syntax seems to be deactivated or at least reduced.

![image](https://user-images.githubusercontent.com/4006510/108777282-2d5b5000-7529-11eb-8c88-79eb78bd6b09.png)

[2021-02-22 22:19] worksofliam commented on #126
Weird bug! Looking into it

[2021-02-24 21:59] SJLennon commented on #92
@ciaramejia3
FWIW:  If this isn't easy to do, the compiler will quite happily do it for you on the compile listing.  You just next to specify **CRTBNDRPG INDENT(' |')** when compiling.

I used this extensively in the distant past when SEU was the only game in town--I had a heap of trouble finding any fixed format RPG to get this sample listing:
![image](https://user-images.githubusercontent.com/67

[2021-02-26 10:50] richardm90 opened #127 "Bug: Linux App Icon not showing"
IBM i version: V7R4
System: Linux

I've been meaning to raise this for a while but the recent install of 0.8.1 reminded me.

Whenever I install a new version of ILEditor 2 I have to update the desktop file Icon entry to enable the application icon to be shown. I change the Icon entry to the following and this works.

Icon=/opt/ILEditor 2/ileditor2.png

If I look at other apps (that don't have a qu

[2021-02-26 11:14] connorholyday commented on #127
Thanks for this! We'll get this fixed up.

[2021-03-04 22:05] Eldemac opened #128 "Sign in issue"
Hello, this is stupid, but I am unable to sign in to my system using ILEditor2, but I have no issues with ILEditor.

Thanks for any help

[2021-03-05 12:23] connorholyday commented on #128
Hey Eldemac, have you got the SSH Daemon running on your IBM i? There's some info on it in our [login docs](https://ileditor.dev/docs/login-and-editor)

Otherwise are you getting any errors popping up at the bottom-right when your login fails?

[2021-03-05 19:17] Eldemac commented on #128
Yes, I did read the login doc before bothering you.  SSH Daemon is running.

I get this message 'It looks like some of those details were incorrect. Undefined.'  But I've checked my login info a dozen+ times.  I am using the IP address.  Would it be an issue if I am on a VPN?

[2021-03-05 19:22] worksofliam commented on #128
Hey @Eldemac. No, that shouldn't be an issue.

Are you also able to ssh from a terminal like Git Bash?

[2021-03-05 19:24] connorholyday commented on #128
Cool okay, then let's run through a couple of details and see if we can figure out what's going on :)

Are you able to SSH into the IBM i yourself?
What version of ILEditor2 are you running?
What language is your IBM i set to?
Could you can run `db2util -v` from an SSH session and let us know the output?

[2021-03-29 15:06] yeltnarb opened #129 "Enhancement idea: Ability to see text on all members"
It is nice that I can hover and see the text for that specific member, but it would be very helpful if I could see the text on all members.  (this helps me make sure I do not compile and create an object with no text)

Could there be a setting to display/hide the text?
<img width="1334" alt="Screen Shot 2021-03-29 at 10 02 44 AM" src="https://user-images.githubusercontent.com/13050080/112857239-47

[2021-04-30 13:28] smital487 opened #130 "Bug: Library List"
Use tags for the following:

* IBM i version 7.2
* System (Windows or Mac OS) Windows 10

**Describe your issue:**
Unable to add library list to settings.  When I type a library and tab or enter, the library disappears.   Have tested this on 3 different Windows 10 PC's.
**Rough time of error occurred**:

**Please paste any screenshots below.**

[2021-04-30 13:50] worksofliam commented on #130
@smital487 Please record a video and share this issue.

Thanks!

[2021-04-30 14:16] smital487 commented on #130
https://user-images.githubusercontent.com/83458736/116707786-ac8b5b00-a994-11eb-9a78-05a222578fa1.mp4

[2021-05-19 20:46] worksofliam commented on #128
Closing as stale.

[2021-05-19 20:46] #128 closed, assigned to nobody

[2021-05-19 20:46] worksofliam commented on #126
Looks like we need to upgrade the syntax stuff.

[2021-05-19 20:48] worksofliam commented on #102
Closing as stale.

[2021-05-19 20:48] #102 closed, assigned to worksofliam

[2021-05-19 20:49] connorholyday commented on #129
Some notes:
Default - on hover
Optionally displayed alongside, configurable inline or below

[2021-05-19 21:01] worksofliam opened #131 "Feature: Multiple instances"
Requested by King and Chuk.

Is it even possible? Must look into it. https://github.com/electron/electron/issues/2493#issuecomment-131216836

[2021-06-01 20:54] DadVaderDoCode opened #132 "Bug: I can´t use the SSH Port 22"
Use tags for the following:

* IBM i version 7.3
* System (Windows or Mac OS) Windows

**Describe your issue:**  I can´t connect using SSH PORT, There´s a chance to do it with Port 23 Telnet as Client Access?
![Error](https://user-images.githubusercontent.com/50391179/120389119-39ee0200-c2e9-11eb-83e3-d461988ece73.jpg)

**Rough time of error occurred**:

**Please paste any screenshots below.**

[2021-06-01 21:18] worksofliam commented on #132
Hi @hn000246!

Do you have SSH running on your system?

Also, if you weren't aware, ILEditor 2 is being replaced with Code for IBM i. Check that out here: https://github.com/halcyon-tech/code-for-ibmi

Thanks!

[2022-02-11 20:09] DadVaderDoCode commented on #132
Great!! Thanks!